{% extends '@SyliusShop/layout.html.twig' %}

{% block title %}{{ 'app.front.stores'|trans }}{% endblock %}
{% block bodyattr %}id="stores"{% endblock %}

{% block content %}
<ul id="breadcrumb" class="autoMargin">
    <li><a href="{{ path('sylius_shop_homepage') }}">{{ 'sylius.ui.home'|trans }}</a></li>
    <li>{{ 'app.front.stores'|trans }}</li>
</ul>

<div class="bg">
    <div class="autoMargin">
        <h1>{{ 'app.front.stores'|trans }}</h1>
        <div class="framap">
            <ul>
                {% for store in stores %}
                <li>
                    <a href="{{ path('store_view', {'code': store.code}) }}">{{ store.name }}</a>
                </li>
                {% endfor %}
            </ul>
            <img src="{{ asset('build/chullanka/images/carte_france.png', 'chullanka') }}" alt="">
        </div>
    </div>
</div>
{% endblock %}
