{% extends '@SyliusShop/layout.html.twig' %}

{% block title %}{{ store.name }}{% endblock %}
{% block bodyattr %}id="store"{% endblock %}

{% block content %}
<div id="storeTop"{% if store.background %} style="background-image:url({{ asset('upload/store/backgrounds/' ~ store.background) }});"{% endif %}>
    <div class="autoMargin">
        <ul id="breadcrumb">
            <li><a href="{{ path('sylius_shop_homepage') }}">{{ 'sylius.ui.home'|trans }}</a></li>
            <li><a href="{{ path('store_index') }}">{{ 'app.front.stores'|trans }}</a></li>
            <li>{{ store.name }}</li>
        </ul>

        <h1>Magasin {{ store.name }}</h1>

        <div class="intro">
            {{ store.introduction }}
        </div>

        {% if store.warning %}
        <div class="insert alert">
            {{ store.warning }}
        </div>
        {% endif %}
    </div>
    {{ include('chullanka/store/_exclusive_products.html.twig')}}
</div>

<div class="autoMargin">
    <div id="searchWrapper">
        <div id="filters" {{ sylius_test_html_attribute('vertical-menu') }}>
            <h2>
                <svg class="svg-icon" role="img"><use xlink:href="{{ asset('build/chullanka/images/sprites.svg', 'chullanka') }}#ico-affiner"/></svg>
                {{ 'app.front.category.filter.affiner'|trans }}
            </h2>
            {% if store.taxons|length %}
            <ul class="subCats">
                {% for child in store.taxons %}
                <li><a href="{{ path('sylius_shop_product_index', {'slug': child.slug, '_locale': child.translation.locale}) }}" class="item" {{ sylius_test_html_attribute('vertical-menu-item') }}><svg class="svg-icon" role="img"><use xlink:href="{{ asset('build/chullanka/images/sprites.svg', 'chullanka') }}#ico-caret-right"/></svg> {{ child.name }}</a></li>
                {% endfor %}
            </ul>
            <br>
            {% endif %}

            <div class="push_univers">
                {{ render(path('get_blocks_by_section_store', {'sectionCode': 'cat_filters', 'storeCode': store.code})) }}
            </div>
        </div>
        <div id="productList" class="prodList">
            {% if store.otherProducts|length > 0 %}
                <h2>Produits du magasin {{ store.name }}</h2>
                <div class="list" id="products" {{ sylius_test_html_attribute('products') }} data-total="{{ store.otherProducts|length }}">
                    {% for product in store.otherProducts %}
                        {% include '@SyliusShop/Product/_box.html.twig' %}
                    {% endfor %}
                </div>
            {% endif %}

            <div id="content">

                <div class="details" style="background-image:url({{ asset('build/chullanka/images/bg-category.jpg', 'chullanka') }})">
                    <div class="insert">
                        <h2>{{ store.name }}</h2>
                        
                        {% if store.openingHours %}
                        <div>
                            <strong>Horaires d'ouverture&nbsp;:</strong><br>
                            {{ store.openingHours }}
                        </div>
                        {% endif %}

                        <div class="address">
                            {{ store.street ~ ' ' ~ store.postcode ~ ' ' ~ store.city  }}
                            <br>
                            <a href="https://www.google.com/maps/@{{ store.latitude }},{{ store.longitude }},15z" target="_blank">Ouvrir le plan (Google Map)</a>
                        </div>

                        <span class="btn primary">
                            Nous contacter
                            <br>{{ store.phoneNumber }}
                        </span>
                    </div>
                </div>

                <div class="insert infos">
                    <h2>Le magasin</h2>
                    {{ store.description|raw }}
                </div>

                {% if store.chullis|length %}
                <div id="chullis" class="insert">
                    <h2>Votre équipe en magasin</h2>
                    <div class="director">
                        {% if store.director and store.director.avatar %}
                        <div class="pichulli">
                            <img src="{{ asset('upload/chullis/' ~ store.director.avatar) }}" width="60" height="60" alt="{{ store.director }}">
                            <svg class="svg-icon" role="img" style="width:64px; height:60px"><use xlink:href="{{ asset('build/chullanka/images/sprites.svg', 'chullanka') }}#over-chulli"/></svg>
                        </div>
                        {% endif %}
                        <strong>Le mot du directeur</strong><br>
                        {{ store.directorNote }}
                    </div>

                    <div class="glider-contain">
                        <div class="glider">
                        {% for chulli in store.chullis %}
                            {% if store.director and store.director == chulli %}
                            {% else %}
                            <div>
                                <div class="chulli">
                                    {% if chulli.avatar %}
                                    <img src="{{ asset('upload/chullis/' ~ chulli.avatar) }}" alt="{{ chulli }}" class="pict">
                                    {% else %}
                                    <span class="pict"></span>
                                    {% endif %}
                                    <p><strong>{{ chulli }}</strong>, {{ chulli.expertise }}</p>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                        </div>
                        <div role="tablist" class="dots"></div>
                    </div>
                    <script>
                        window.addEventListener('load', function(){
                            new Glider(document.querySelector('#chullis .glider'), { 
                                slidesToShow: 1,
                                slidesToScroll : 1,
                                duration: 2,
                                draggable: true,
                                scrollLock: true,
                                dots: '#chullis .dots',
                                responsive: [
                                    { breakpoint:500, settings: { slidesToShow:2 } },
                                    { breakpoint:1024, settings: { slidesToShow:2 } }
                                ]
                            });
                        });
                    </script>

                    <div class="rendezVous">
                        <a href="{{ path('sylius_shop_contact_request', {'store': store.code}) }}" class="btn primary">Prendre rendez-vous avec eux</a>
                    </div>
                </div>
                {% endif %}

                {% if store.services|length %}
                <div id="services" class="insert">
                    <h2>Nos (supers) services en magasin</h2>
                    <div class="glider-contain">
                        <div class="glider">
                            {% for service in store.services %}
                            <div>
                                <div class="service">
                                    <h3>{{ service.title }}</h3>

                                    {% if service.thumbnail %}
                                    <img src="{{ asset('upload/store/services/' ~ service.thumbnail) }}" alt="" class="pict">
                                    {% else %}
                                    <span class="pict"></span>
                                    {% endif %}

                                    <div>{{ service.content|raw }}</div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div role="tablist" class="dots"></div>
                    </div>
                    <script>
                        window.addEventListener('load', function(){
                            new Glider(document.querySelector('#services .glider'), { 
                                slidesToShow: 1,
                                slidesToScroll : 1,
                                duration: 2,
                                draggable: true,
                                scrollLock: true,
                                dots: '#services .dots',
                                responsive: [
                                    { breakpoint:500, settings: { slidesToShow:2 } },
                                    { breakpoint:1024, settings: { slidesToShow:2 } }
                                ]
                            });
                        });
                    </script>
                </div>
                {% endif %}
                
                {% if store.advertising %}
                {{ store.advertising|raw }}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="toAnchor">
        <a href="#storeTop">{{ 'app.front.gototop'|trans }}</a>
    </div>
</div>
{% endblock %}
