{% extends '@SyliusUi/Form/theme.html.twig' %}

{% block _options_row %}{{ form_widget(form) }}{% endblock %}
{% block _attributes_row %}{{ form_widget(form) }}{% endblock %}
{% block _options_widget %}
    {% for child in form %}
        {{ form_row(child) }}
    {% endfor %}
{% endblock %}
{% block _attributes_widget %}
    {% for child in form %}
        {{ form_row(child) }}
    {% endfor %}
{% endblock %}
{% block choice_row %}
    {%- set _open = false %}
    {%- for child in form %}
        {%- if child.vars.checked %}
        {%- set _open = true %}
        {% endif -%}
    {% endfor -%}
    <li class="{% if required %}required {% endif %}field{% if (not compound or force_error|default(false)) and not valid %} error{% endif %}">
        <button class="pictoLink fold{%- if _open %} on{% endif -%}" data-on="{{ label }}" data-off="{{ label }}">{{ label }}</button>
        <div class="foldable{%- if _open %} shown{% endif -%}">
            {{- form_errors(form) -}}
            {{- form_widget(form) -}}
        </div>
    </li>
{% endblock choice_row %}
{% block choice_widget_expanded %}
    <ul {{ block('widget_container_attributes') }}>
        {%- for child in form %}
        <li>
            {{- form_widget(child, sylius_test_form_attribute('option')) -}}
            {{- form_label(child, null, {translation_domain: choice_translation_domain}) -}}
        </li>
        {% endfor -%}
    </ul>
{% endblock %}