{#% extends '@SyliusShop/layout.html.twig' %#}
{% extends app.request.xmlHttpRequest 
     ? '@SyliusShop/layout_ajax.html.twig'
     : '@SyliusShop/layout.html.twig' %}

{% form_theme form '@BitBagSyliusElasticsearchPlugin/Shop/Product/filter_theme.html.twig' %}

{% import '@SyliusUi/Macro/messages.html.twig' as messages %}
{% import '@SyliusUi/Macro/pagination.html.twig' as pagination %}

{% block stylesheets %}
    {{ parent() }}

    {% include '@SyliusUi/_stylesheets.html.twig' with {'path': 'bundles/bitbagsyliuselasticsearchplugin/css/bitbag-autocomplete-search.css'} %}
{% endblock %}

{% block bodyattr %}class="{% if taxon.level == 1 %}univers{% else %}category{% endif %}"{% endblock %}

{% block content %}
{% if taxon.level == 1 %}
    {% include '@SyliusShop/Taxon/_univers.html.twig' %}
{% else %}
    {% set univers = null %}
    {% if taxon is defined %}
        {% set ancestors = taxon.ancestors|reverse %}
        {% for ancestor in ancestors %}
            {% if not ancestor.isRoot() and univers is null %}
                {% set univers = ancestor %}
            {% endif %}
        {% endfor %}
        {% if univers is null %}
            {% set univers = taxon %}
        {% endif %}
    {% endif %}

    {% set ajax_pagination = app.request.get('page') %}

    {% if app.request.xmlHttpRequest == false %}
        <div id="js-loader" class="ui form"></div>

        {{ render(url('sylius_shop_partial_taxon_show_by_slug', {
                'slug': app.request.attributes.get('slug'),
                'template': '@SyliusShop/Taxon/_header.html.twig'
        })) }}

    <div id="cat_content" class="autoMargin">
        {{ form_start(form, {'method': 'GET', 'attr': {'id': 'filterForm'}}) }}
        <div id="searchWrapper">
    {% endif %}

            {% if ajax_pagination == false %}
            <div id="filters" {{ sylius_test_html_attribute('vertical-menu') }}>
                {% include '@BitBagSyliusElasticsearchPlugin/Shop/Product/_filterForm.html.twig' %}
                {#% include '@BitBagSyliusElasticsearchPlugin/Shop/Product/Index/_pagination.html.twig' %#}
            </div>
            <div id="productList" class="prodList">
                {#<div class="ui search" id="products-search" style="display:none;">
                    <div class="ui fluid large left icon input">
                        {{ form_widget(form.name, {'attr': {'placeholder': 'sylius.ui.search', 'class': 'prompt'}}) }}
                        <i class="search icon"></i>
                    </div>
                </div>#}

                {% if products|length > 0 %}
                    <h2>Tous nos produits {{ taxon.name }}</h2>
                    <div class="list" id="products" {{ sylius_test_html_attribute('products') }} data-total="{{ products|length }}">
                        {% set _count = 0 %}
                        {% for product in products %}
                            {% include '@SyliusShop/Product/_box.html.twig' %}
                            
                            {% if _count == 7 %}
                            {{ render(path('get_blocks_by_section_taxon', {'sectionCode': 'cat_prodlist_1', 'taxonCode': taxon.code, 'template': '@SyliusShop/Block/promo_prodlist.html.twig'})) }}
                            {% endif %}

                            {% if _count == 15 %}
                            {{ render(path('get_blocks_by_section_taxon', {'sectionCode': 'cat_prodlist_2', 'taxonCode': taxon.code, 'template': '@SyliusShop/Block/promo_prodlist.html.twig'})) }}
                            {% endif %}
                            
                            {% set _count = _count + 1 %}
                        {% endfor %}
                        {# Fake pour alignement Flex ! #}
                        {% for r in 1..(4 - (_count % 4)) %}<span class="fakeProduct" style="width:155px;"></span>{% endfor %}
                    </div>

                    {{ pagination.simple(products) }}
                {% else %}
                    {{ messages.info('sylius.ui.no_results_to_display') }}
                {% endif %}
            </div>
            {% else %}
            {# pagination en AJAX #}
                {% if products|length > 0 %}
                {% set _count = 0 %}
                {% for product in products %}
                    {% include '@SyliusShop/Product/_box.html.twig' %}
                    {% set _count = _count + 1 %}
                {% endfor %}
                {# Fake pour alignement Flex ! #}
                {% for r in 1..(4 - (_count % 4)) %}<span class="fakeProduct" style="width:155px;"></span>{% endfor %}
                {% endif %}
                {{ pagination.simple(products) }}
            {% endif %}

        {% if app.request.xmlHttpRequest == false %}
        </div>

        {{ form_end(form, {'render_rest': false}) }}

        {{ render(url('sylius_shop_partial_taxon_show_by_slug', {
                'slug': app.request.attributes.get('slug'),
                'template': '@SyliusShop/Taxon/_footer.html.twig'
        })) }}
    </div>
        {% endif %}
{% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% if taxon.level > 1 %}
        {% include '@SyliusUi/_javascripts.html.twig' with {'path': 'bundles/bitbagsyliuselasticsearchplugin/js/bitbag-autocomplete-search.js'} %}
        <script type="application/javascript">
            $(document).autocompleteSearch('#products-search', '{{ url('bitbag_sylius_elasticsearch_plugin_shop_auto_complete_product_name') }}?query={query}')
        </script>
        
        {% include '@BitBagSyliusElasticsearchPlugin/Shop/Product/_js_pagination.html.twig' %}
    {% endif %}
{% endblock %}