{% extends '@SyliusShop/layout.html.twig' %}

{% block bodyattr %}id="confirmation"{% endblock %}

{% block content %}
<div class="autoMargin" style="margin:2em 0;">
    <div class="ui grid">
        <div class="center aligned sixteen wide column">
            <h1>{{ 'sylius.ui.thank_you'|trans }}</h1>

            <div class="content" id="sylius-thank-you" {{ sylius_test_html_attribute('thank-you') }}>
                <p>{{ 'sylius.ui.placed_an_order'|trans }}</p>
                <p>{{ 'sylius.ui.follow_an_order'|trans }}</p>
            </div>

            {% set lastPayment = order.payments.last() %}
            {{ sylius_template_event('sylius.shop.order.thank_you.after_message', {'order': order}) }}

            {% if lastPayment != false %}
                {%  if lastPayment.method.instructions is not null %}
                    <div id="sylius-payment-method-instructions" class="ui segment" {{ sylius_test_html_attribute('payment-method-instructions') }}>
                        {{ lastPayment.method.instructions }}
                    </div>
                {% endif %}
            {% endif %}

            {% if order.customer.user is not null %}
                <a href="{{ path('sylius_shop_account_order_show', {'number': order.number}) }}" id="sylius-show-order-in-account" class="btn primary large" {{ sylius_test_html_attribute('show-order-in-account') }}>{{ 'sylius.ui.view_order'|trans }}</a>
            {% else %}
                {% if lastPayment.state != 'completed' %}
                    <a href="{{ path('sylius_shop_order_show', {'tokenValue': order.tokenValue}) }}" id="payment-method-page" class="btn primary large" {{ sylius_test_html_attribute('payment-method-page') }}>{{ 'sylius.ui.change_payment_method'|trans }}</a>
                {% endif %}
                <a href="{{ path('sylius_shop_register_after_checkout', {'tokenValue': order.tokenValue}) }}" class="ui large green button" {{ sylius_test_html_attribute('create-an-account') }}>
                    <i class="signup icon"></i>
                    {{ 'sylius.ui.create_an_account'|trans }}
                </a>
            {% endif %}

        </div>
    </div>
    {{ bitbag_cms_render_block('page_confirmation') }}
</div>
{% endblock %}