{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

{% set itemsSubtotal = sylius_order_items_subtotal(order) %}
{% set taxIncluded = sylius_order_tax_included(order) %}
{% set taxExcluded = sylius_order_tax_excluded(order) %}

<div class="insert">
    <table class="totals" id="sylius-checkout-subtotal" {{ sylius_test_html_attribute('checkout-subtotal') }}>
        <tbody>
        {% for item in order.items %}
            {% set variant = item.variant %}
            {% set product = variant.product %}
            <tr class="withPicture">
                <td class="picture">
                    {% if variant.hasImages %}
                        {% include '@SyliusShop/Product/_mainImage.html.twig' with {'product': variant, 'filter': 'sylius_shop_product_small_thumbnail'} %}
                    {% else %}
                        {% include '@SyliusShop/Product/_mainImage.html.twig' with {'product': product, 'filter': 'sylius_shop_product_small_thumbnail'} %}
                    {% endif %}
                </td>
                <td class="aligned" id="sylius-item-{{ product.slug }}-subtotal" {{ sylius_test_html_attribute('item-subtotal', product.slug) }}>
                    {% if product.brand %}{{ product.brand.name }} &ndash; {% endif %}
                    {{ product.name }}

                    <br><small>{{ item.quantity }} x {{ money.convertAndFormat(item.discountedUnitPrice) }}</small>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td>{#{ 'sylius.ui.items_total'|trans }#}Sous-total</td>
                <td id="sylius-summary-items-subtotal" class="right aligned" {{ sylius_test_html_attribute('cart-items-total') }}>{{ money.convertAndFormat(itemsSubtotal) }}</td>
            </tr>
            {% if order.orderPromotionTotal %}
                <tr>
                    <td>{{ 'sylius.ui.discount'|trans }}</td>
                    <td id="sylius-summary-promotion-total" class="right aligned">
                        {{ money.convertAndFormat(order.orderPromotionTotal) }}
                    </td>
                </tr>
            {% endif %}
            {% if order.shipments is not empty %}
                <tr>
                    <td>{{ 'sylius.ui.shipping_estimated_cost'|trans }}</td>
                    <td class="right aligned">
                        {% if order.getAdjustmentsTotal('shipping') > order.shippingTotal %}
                            <span class="old-price" data-price="{{ order.getAdjustmentsTotal('shipping') }}">{{ money.convertAndFormat(order.getAdjustmentsTotal('shipping')) }}</span>
                        {% endif %}
                        <span id="sylius-summary-shipping-total" data-price="{{ order.shippingTotal }}">{{ money.convertAndFormat(order.shippingTotal) }}</span>
                    </td>
                </tr>
            {% endif %}
            <tr {% if taxIncluded and not taxExcluded %}class="tax-disabled" {% endif %}>
                <td>
                    {{ 'sylius.ui.taxes_total'|trans }}
                    {% if taxIncluded %}
                    <br><small>({{ 'sylius.ui.included_in_price'|trans }})</small>
                    {% endif %}
                </td>
                <td class="right aligned">
                    {% if not taxIncluded and not taxExcluded %}
                        <div id="sylius-summary-tax-none" data-price="0">{{ money.convertAndFormat(0) }}</div>
                    {% endif %}
                    {% if taxExcluded %}
                        <div id="sylius-summary-tax-excluded" data-price="{{ taxExcluded }}">{{ money.convertAndFormat(taxExcluded) }}</div>
                    {% endif %}
                    {% if taxIncluded %}
                        <div class="tax-disabled">
                            <span id="sylius-summary-tax-included" data-price="{{ taxIncluded }}">{{ money.convertAndFormat(taxIncluded) }}</span>
                        </div>
                    {% endif %}
                </td>
            </tr>
            <tr class="total">
                <td>{#{ 'sylius.ui.order_total'|trans }#}Total</td>
                <td id="sylius-summary-grand-total" class="right aligned" data-price="{{ order.total }}">{{ money.convertAndFormat(order.total) }}</td>
            </tr>
        </tfoot>
    </table>

    {% if active is defined and active == 'select_payment' %}
    <div class="agreement">
        <input type="checkbox" name="agreement" id="agreement-checkbox" value="1" autocomplete="off" required oninvalid="this.setCustomValidity('Veuillez accepter les conditions générales de ventes avant de valider la commande.')">
        <label for="agreement-checkbox">J'accepte <a href="{{ path('bitbag_sylius_cms_plugin_shop_page_show', {'slug': 'conditions-generales-de-vente' }) }}" target="_blank">les conditions générales de vente</a></label>
    </div>
    {% endif %}
    
    <button type="submit" id="next-step" form="{{ _context.form.vars.id }}" class="btn primary" {{ sylius_test_html_attribute('next-step') }}>Continuer</button>

    <div class="pictosPaiement">
        <img src="{{ asset('build/chullanka/images/picto-3x.png', 'chullanka') }}" alt="3x sans frais">
        <img src="{{ asset('build/chullanka/images/picto-cbs.png', 'chullanka') }}" alt="CB Visa MasterCard">
    </div>
</div>
