{% extends '@SyliusShop/Checkout/layout.html.twig' %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{% block title %}{{ 'sylius.ui.shipping'|trans }} | {{ parent() }}{% endblock %}

{% block content %}
    {{ sylius_template_event(['sylius.shop.checkout.select_shipping.steps', 'sylius.shop.checkout.steps'], _context|merge({'active': 'select_shipping', 'orderTotal': order.total})) }}

    <div class="ui stackable grid">
        <div class="ten wide column">
            <div id="sylius-shipping-methods">
                {{ sylius_template_event('sylius.shop.checkout.select_shipping.before_form', {'order': order}) }}

                {{ form_start(form, {'action': path('sylius_shop_checkout_select_shipping'), 'attr': {'class': 'loadable', 'novalidate': 'novalidate', 'id': form.vars.id}}) }}
                    {{ form_errors(form) }}
                    <input type="hidden" name="_method" value="PUT" />

                    {% for key, shipment in order.shipments %}
                        {% include '@SyliusShop/Checkout/SelectShipping/_shipment.html.twig' with {'form': form.shipments[key]} %}
                    {% else %}
                        {% include '@SyliusShop/Checkout/SelectShipping/_unavailable.html.twig' %}
                    {% endfor %}

                    {{ sylius_template_event('sylius.shop.checkout.select_shipping.before_navigation', {'order': order}) }}
                    
                    {#% include '@SyliusShop/Checkout/SelectShipping/_navigation.html.twig' %#}

                    {{ form_row(form._token) }}
                {{ form_end(form, {'render_rest': false}) }}
            </div>
        </div>
        <div class="six wide column">
            {{ sylius_template_event(['sylius.shop.checkout.select_shipping.sidebar', 'sylius.shop.checkout.sidebar'], _context) }}
        </div>
    </div>
{% endblock %}


{% block javascripts %}
{{ parent() }}

<script type="text/javascript">
    $(document).ready(function() {
        $('.loadable').removeClass('loading');//dans le cas où il y a un retour en arrière du navigateur

        var $formSubmitBtn = $('#next-step');
        var _testDisable = function(_value)
        {
            var _disable = true;
            switch(_value)
            {
                case 'home_standart':
                case 'home_express':
                    _disable = false;
                    break;
                
                case 'pickup_standart':
                case 'pickup_express':
                case 'pickup':
                    if($('[name="pickup_point"]:checked').length)
                    {
                        _disable = false;
                    }
                    break;
                
                case 'store':
                    if($('[name="ship_in_store"]:checked').length)
                    {
                        _disable = false;
                    }
                    break;
                default:
                    _disable = true;
            }
            $formSubmitBtn.prop('disabled', _disable);
        }
        _testDisable($('#sylius_checkout_select_shipping [name="sylius_checkout_select_shipping[shipments][0][method]"]').val());

        var _shipmethod = $('#sylius_checkout_select_shipping [name="sylius_checkout_select_shipping[shipments][0][method]"]:checked').val();
        $('#sylius_checkout_select_shipping').on('change', '[name="sylius_checkout_select_shipping[shipments][0][method]"]', function(e) {

            //désactive le choix du magasin
            $('.storelist [name="ship_in_store"]').prop('checked', false);

            // test la méthode précédente et la nouvelle
            if((_shipmethod.indexOf('pickup') > -1) && ($(this).val().indexOf('pickup') > -1))
            {
                $('#pickupList').html('');// on vide
                _testDisable();//on désactive le bouton submit
            }
            _shipmethod = $(this).val();

            _testDisable(_shipmethod);

            // update Price
            var $shipPrice = $('#sylius-summary-shipping-total');
            var _shipPrice = $shipPrice.data('price');
            var $taxPrice = $('#sylius-summary-tax-included');
            var _taxPrice = $taxPrice.data('price');
            var $totalPrice = $('#sylius-summary-grand-total');
            var _totalPrice = $totalPrice.data('price');

            // soustract current shipping price
            _taxPrice -= (_shipPrice - (_shipPrice / 1.2));
            _totalPrice -= _shipPrice;

            // new price
            _shipPrice = $(this).parent().data('price');
            _taxPrice += (_shipPrice - (_shipPrice / 1.2));
            _totalPrice += _shipPrice;

            var _locale = '{{ sylius.localeCode|replace({'_': '-'}) }}';
            var _currency = { style: 'currency', currency: '{{ sylius.currencyCode }}' };
            
            $shipPrice.attr('data-price', _shipPrice).html((_shipPrice/100).toLocaleString(_locale, _currency));
            $taxPrice.attr('data-price', _taxPrice).html((_taxPrice/100).toLocaleString(_locale, _currency));
            $totalPrice.attr('data-price', _totalPrice).html((_totalPrice/100).toLocaleString(_locale, _currency));
        });

        $('.storelist [name="ship_in_store"]').on('change', function(e) {
            $('input[value="store"]').prop('checked', true);
            _testDisable('store');
        });

        $('#findPickups').on('click', function(e) {
            e.preventDefault();

            var $pickupBox = $('#findPickups').parents('.insert');

            var _shipmethod = $('[name="sylius_checkout_select_shipping[shipments][0][method]"]:checked').val();
            var _address = $('#pickup_address').val();
            var _zip = $('#pickup_zip').val();
            var _city = $('#pickup_city').val();

            $('#pickupList').html('');// on vide
            _testDisable();//on désactive le bouton submit
            
            $pickupBox.addClass('loading');
            $.ajax({
                type: 'POST',
                url: '{{ path('chk_ajax_getpickuppoints') }}',
                data: {'address': _address, 'zip': _zip, 'city': _city, 'shipmethod': _shipmethod},
                error() {
                    $pickupBox.removeClass('loading');
                    alert("error");
                },
                success(response) {
                    $('#pickupList').html(response);

                    $('#pickupList [name="pickup_point"]').on('change', function(e) {
                        _testDisable('pickup');
                    });
                    funcFoldable();
                    $pickupBox.removeClass('loading');
                },
            });
        });
    });
</script>
{% endblock %}