{% from '@SyliusAdmin/Macro/translationForm.html.twig' import translationFormWithSlug %}

<div class="ui segment">
    {{ form_errors(form) }}
    <div class="two fields">
        {{ form_row(form.code) }}
        {{ form_row(form.parent) }}
    </div>
    <div class="fields">
        {{ form_row(form.enabled) }}
        {{ form_row(form.univers) }}
    </div>

    <div style="border:2px dashed; padding:.5em; margin-bottom:1em;">{{ form_row(form.redirection) }}</div>

    {{ form_row(form.top_products) }}
    
    {{ form_row(form.top_brands) }}

    {{ form_row(form.other_taxons) }}

    {{ form_row(form.blogfeedurl) }}
</div>
{#<div class="ui segment">
    {{ form_row(form.sub_links) }}
</div>#}
{{ translationFormWithSlug(form.translations, '@SyliusAdmin/Taxon/_slugField.html.twig', taxon) }}

{% include '@SyliusAdmin/Taxon/_media.html.twig' %}
