{% if pickups|length > 0 %}
    {% for pickup in pickups %}
    <div class="frame pickupElement">
        <div class="head">
            <input type="radio" id="pickup_point{{ loop.index }}" name="pickup_point" value="{{ pickup.inputValue }}">
            <label class="btn" for="pickup_point{{ loop.index }}">Choisir ce point relais</label>
            <strong>A {{ pickup.distance|number_format(3, ',') }} km</strong>
        </div>

        <strong>{{ pickup.nomEnseigne }}</strong><!-- Id relais : {{ pickup.identifiantRelais }} -->
        <p>{{ pickup.adresse1 }}<br>
        {% if pickup.adresse2 != '' %}{{ pickup.adresse2 }}<br>{% endif %}
        {% if pickup.adresse3 != '' %}{{ pickup.adresse3 }}<br>{% endif %}
        {{ pickup.codePostal ~ ' ' ~ pickup.localite }}</p>
        
        <button class="pictoLink fold" data-on="Replier" data-off="Voir les horaires">Voir les horaires</button>
        <div id="relaydetail{{ loop.index }}" class="foldable">
            <div class="relayDetails">
                <div class="boxhoraires">
                    <p><strong>Horaires d'ouverture&nbsp;:</strong></p>
                    
                    <p>Lundi&nbsp;: {{ pickup.horairesOuvertureLundi }}</p>
                    <p>Mardi&nbsp;: {{ pickup.horairesOuvertureMardi }}</p>
                    <p>Mercreci&nbsp;: {{ pickup.horairesOuvertureMercredi }}</p>
                    <p>Jeudi&nbsp;: {{ pickup.horairesOuvertureJeudi }}</p>
                    <p>Vendredi&nbsp;: {{ pickup.horairesOuvertureVendredi }}</p>
                    <p>Samedi&nbsp;: {{ pickup.horairesOuvertureSamedi }}</p>
                    <p>Dimanche&nbsp;: {{ pickup.horairesOuvertureDimanche }}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% else %}
    {% if trouble is not null %}
    <strong style="color:red;">{{ trouble }}</strong>
    {% endif %}
{% endif %}