{% if notuser is defined %}
<h2>Pas si vite !</h2>
<div class="centered">
    <p>Pour ajouter ce produit à votre liste d'envie, connectez-vous ou créez votre compte d'abord.</p>
    <div class="actions">
        <a href="{{ path('sylius_shop_login') }}" class="btn primary">Se connecter</a>
        <a href="{{ path('sylius_shop_register') }}" class="btn primary sub">Créer son compte</a>
    </div>
</div>
{% else %}
<h2>Un produit qui donne envie !</h2>
<div>
    <p>Ce produit vous fait de l’œil ? Sauvegardez-le dans votre liste d’envie et retrouvez-le plus tard dans votre espace personnel. <br>Simple et efficace !</p>
</div>
<form action="{{ path('chk_wishlist_add_product', {'variant_id': variant_id}) }}" method="post">
    <ul>
        {% for item in wishlists %}
        <li><input type="radio" name="wishlist_id" id="wishlist_{{ item.id }}" value="{{ item.id }}"> <label for="wishlist_{{ item.id }}">{{ item.name }}</label></li>
        {% endfor %}
        <li><input type="radio" name="wishlist_id" id="newishlist" value="0" checked="checked"> <label for="newishlist">Nouvelle liste</label> <input type="text" name="newishlist" placeholder="Nouvelle liste d'envie"></li>
    </ul>

    <button type="submit" name="submit" value="true" class="btn primary">Ajouter ce produit</button>
</form>
{% endif %}