{% set product = order_item.variant.product %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

<div id="sylius-product-selecting-variant" {{ sylius_test_html_attribute('product-selecting-variant') }}>
    {{ sylius_template_event('sylius.shop.product.show.before_add_to_cart', {'product': product, 'order_item': order_item}) }}

    {{ form_start(form, {'action': path('sylius_shop_ajax_cart_add_item', {'productId': product.id}), 'attr': {'id': 'sylius-product-adding-to-cart', 'class': 'loadable', 'novalidate': 'novalidate', 'data-redirect': path(configuration.getRedirectRoute('summary'))}}) }}
    {{ form_errors(form) }}

    <div class="ui red label bottom pointing hidden sylius-validation-error" id="sylius-cart-validation-error" {{ sylius_test_html_attribute('cart-validation-error') }}></div>
    {% if not product.simple %}
        <div class="configurability">
          {% if product.variantSelectionMethodChoice %}
            {% include '@SyliusShop/Product/Show/_variants.html.twig' %}
          {% else %}
            {% include '@SyliusShop/Product/Show/_options.html.twig' %}
          {% endif %}
        </div>
    {% endif %}

    {{ sylius_template_event('sylius.shop.product.show.add_to_cart_form', {'product': product, 'order_item': order_item, 'form': form}) }}

    <div style="display:none;">{{ form_row(form.cartItem.quantity, sylius_test_form_attribute('quantity')) }}</div>
    <div id="addToCart">
        <button type="submit" class="btn" style="font-weight:300;" {{ sylius_test_html_attribute('add-to-cart-button') }}>
            <span>{{ 'sylius.ui.add_to_cart'|trans }}</span>
            {% include '@SyliusShop/Product/_price.html.twig' %}
        </button>
    </div>
    
    {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
</div>