{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}
{% set product = order_item.variant.product %}
{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

<div id="sylius-product-selecting-variant" {{ sylius_test_html_attribute('product-selecting-variant') }}>
    {{ sylius_template_event('sylius.shop.product.show.before_add_to_cart', {'product': product, 'order_item': order_item}) }}

    {% if product.isPack %}
    {% include '@SyliusShop/Product/Show/_addPackToCart.html.twig' %}
    {% else %}
    {{ form_start(form, {'action': path('sylius_shop_ajax_cart_add_item', {'productId': product.id}), 'attr': {'id': 'sylius-product-adding-to-cart', 'class': 'loadable', 'novalidate': 'novalidate', 'data-redirect': path(configuration.getRedirectRoute('summary'))}}) }}
    {{ form_errors(form) }}

    <div class="ui red label bottom pointing hidden sylius-validation-error" id="sylius-cart-validation-error" {{ sylius_test_html_attribute('cart-validation-error') }}></div>

    {% if not product.simple %}
        <div class="configurability">

        {% if product.brand and product.brand.sizeGuide %}
            <a href="#guideDesTailles" class="guidelink">Guide des tailles</a>
        {% endif %}

        {% if product.variantSelectionMethodChoice %}
            {% include '@SyliusShop/Product/Show/_variants.html.twig' %}
        {% else %}
            {% include '@SyliusShop/Product/Show/_options.html.twig' %}
        {% endif %}
        </div>
    {% endif %}

    {{ sylius_template_event('sylius.shop.product.show.add_to_cart_form', {'product': product, 'order_item': order_item, 'form': form}) }}

    <div style="display:none;">{{ form_row(form.cartItem.quantity, sylius_test_form_attribute('quantity')) }}</div>
    <div id="addToCart">
        <button type="submit" class="btn" style="font-weight:300;" disabled="disabled" {{ sylius_test_html_attribute('add-to-cart-button') }}>
            <span>{{ 'sylius.ui.add_to_cart'|trans }}</span>
            {% include '@SyliusShop/Product/_price.html.twig' %}
        </button>
    </div>
    
    {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}

    {% endif %}
</div>


{#
<a
    href="{{ path('bitbag_sylius_wishlist_plugin_shop_wishlist_add_product', {'productId': product.id}) }}"
    class="bitbag-add-to-wishlist ui icon labeled button blue"
    data-product-name="{{ product.name }}"
    {{ sylius_test_html_attribute('wishlist-add-product') }}
>
    <i class="icon heart"></i>
    {{ 'bitbag_sylius_wishlist_plugin.ui.add_to_wishlist'|trans }}
</a>
<hr>
<br>
<a href="{{ path('bitbag_sylius_wishlist_plugin_shop_wishlist_list_products') }}" class="ui circular button">
    <i class="icon heart"></i>
    <span class="bitbag-wishlist-items-count" {{ sylius_test_html_attribute('wishlist-primary-items-count') }}>
        Lien
    </span>
</a>
#}

{#
<a href="{{ path('chk_wishlist_add_product', {'variant_id': 2}) }}" class="ui circular button">
    <i class="icon heart"></i>
        Ajout à une liste d'envie
    </span>
</a>
#}