<div id="askAnswer" class="frame">
    {% if product.enabledFaqs|length > 0 %}
    <strong>Vos questions &ndash; nos réponses</strong>
    <ul class="faqs">
        {% for faq in product.enabledFaqs|slice(0, 2) %}
        <li>
            <svg class="svg-icon" role="img" style="width:18.461px; height:31.623px"><use xlink:href="{{ asset('build/chullanka/images/sprites.svg', 'chullanka') }}#ico-question"/></svg>
            <strong>{{ faq.question }}</strong>
            <div>{{ faq.answer }}</div>
        </li>
        {% endfor %}
    </ul>
    <div class="footline">
        <a href="#askAnswers" class="pictoLink">Plus ({{ product.enabledFaqs|length }})</a>
    </div>
    {% endif %}

    {{ render(path('chk_ajax_getadviceform', {'pid': product.id})) }}
</div>