{% if product.isPack == false %}
{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}
<div id="availabilities" class="loading">
    <div id="variantMapping">
        {% for variant in product.EnabledVariants %}
        <div data-id="{{ variant.id }}"{% for option in variant.OptionValues %} data-{{ option.OptionCode }}="{{ option.code }}"{% endfor %} data-price="{{ variant|sylius_calculate_price({'channel': sylius.channel}) }}"></div>
        {% endfor %}
    </div>
    <div id="js_good" class="availability good hidden" data-freeabove="{{ freeAbove }}" data-defaultprice="à {{ money.convertAndFormat(defaultPrice) }}">
        <p>En stock - Livraison <span class="price">à {{ money.convertAndFormat(defaultPrice) }}</span> : <span class="date">12 - 20 juil</span></p>
        <a href="#dispoMagPop" class="dispoMag topopin">Vérifiez la disponibilité en magasin</a>
    </div>

    <div id="js_warning" class="availability warning hidden">
        <p>En stock - Disponible uniquement dans le magasin <span class="magname">Chullanka Antibes</span> en Click and Collect GRATUIT</p>
    </div>

    <div id="js_alert" class="availability alert hidden">
        <p>Ce produit n'est plus en stock dans cette configuration</p>
        {{ render(path('chk_ajax_getadviceform', {'template': '@SyliusShop/_getAdvice_alt.html.twig', 'pid': product.id})) }}
    </div>

    <div id="js_stores" class="availability warning stores hidden">
        <p>En stock - uniquement dans les magasins Chullanka en Click and Collect GRATUIT</p>
        <a href="#dispoMagPop" class="dispoMag topopin">Vérifiez la disponibilité en magasin</a>
    </div>
</div>
{{ render(url('store_index', {'template': 'chullanka/store/popin.html.twig'})) }}
{% endif %}

{{ sylius_template_event('sylius.shop.product.show.content', _context) }}