{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}
{% set variant = product|sylius_resolve_variant %}

<div class="prodInList">
    <svg class="svg-picto" role="img"><use xlink:href="{{ absolute_url(asset('build/chullanka/images/sprites.svg', 'chullanka')) }}#notation"/></svg>
    <div class="insert">
        <a href="{{ absolute_url(path('sylius_shop_product_show', {'slug': product.slug, '_locale': product.translation.locale})) }}" class="picture gtm-eh-track-product-click" data-id="{{ sylius_gtm_enhanced_ecommerce_product_identifier(product) }}" data-name="{{ product.name }}">
            {% include '@SyliusShop/Product/_mainImage.html.twig' with {'product': product} %}
            {% include '@SyliusShop/Product/_labels.html.twig' with {'product': product} %}
        </a>
        <div class="infos">
            {% include '@SyliusShop/Product/_price.html.twig' %}
            {% if product.brand %}<div class="brand">{{ product.brand.name }}</div>{% endif %}
            <div class="title" {{ sylius_test_html_attribute('product-name', product.name) }}><a href="{{ path('sylius_shop_product_show', {'slug': product.slug, '_locale': product.translation.locale}) }}" data-id="{{ sylius_gtm_enhanced_ecommerce_product_identifier(product) }}" data-name="{{ product.name }}" class="gtm-eh-track-product-click">{{ product.name }}</a></div>
            {% if product.averageRating %}
            <div class="clientRating">
                <ul class="rating">
                    {% for n in 1..5  %}
                    <li class="{{ (n <= product.averageRating|round) ? 'on' : 'off' }}"><svg class="svg-icon" role="img"><use xlink:href="{{ absolute_url(asset('build/chullanka/images/sprites.svg', 'chullanka')) }}#ico-star"/></svg></li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {#<div class="hidden">
                <h4>DEBUG T2S :</h4>
                <ul>
                    <li>Rank1 : {{ product.getAttributeByCodeAndLocale('rank1') ? product.getAttributeByCodeAndLocale('rank1').value : '-' }}</li>
                    <li>Rank2 : {{ product.getAttributeByCodeAndLocale('rank2') ? product.getAttributeByCodeAndLocale('rank2').value : '-' }}</li>
                    <li>Rank3 : {{ product.getAttributeByCodeAndLocale('rank3') ? product.getAttributeByCodeAndLocale('rank3').value : '-' }}</li>
                    <li>Rank4 : {{ product.getAttributeByCodeAndLocale('rank4') ? product.getAttributeByCodeAndLocale('rank4').value : '-' }}</li>
                    <li>Rank5 : {{ product.getAttributeByCodeAndLocale('rank5') ? product.getAttributeByCodeAndLocale('rank5').value : '-' }}</li>
                    <li>Rank6 : {{ product.getAttributeByCodeAndLocale('rank6') ? product.getAttributeByCodeAndLocale('rank6').value : '-' }}</li>
                </ul>
            </div>#}
        </div>
    </div>
</div>
