{% if media.enabled and media.products %}
<div id="{{ media.code }}" class="prodList">
    <div class="background" style="background-image:url({{ media.path }});">
        <div class="autoMargin">
            <img src="{{ asset('build/chullanka/images/mask_prodlist.png', 'chullanka') }}" alt="">
        </div>
    </div>
    <div class="autoMargin">
        <div class="list">
            <div class="header">
                <h2>{{ media.name|raw }}</h2>
                {{ bitbag_cms_render_content(media) }}
            </div>
            {% include '@SyliusShop/Product/_prodlist_loop.html.twig' with {'products': media.products} %}
        </div>
        {% if media.link is defined %}
        <a href="{{ media.link }}" class="btn">{{ 'app.front.show_more_products'|trans }}</a>
        {% endif %}
    </div>
</div>
{% endif %}