{% extends '@SyliusShop/layout.html.twig' %}

{% block title %}{{ product.name }} | {{ parent() }}{% endblock %}

{% block content %}
{% include '@SyliusShop/Product/Show/_breadcrumb.html.twig' %}

<div id="productTop" class="autoMargin">
    <div id="illustration">
        <div class="stickIt">
            {{ sylius_template_event('sylius.shop.product.show.left_sidebar', _context) }}
        </div>
    </div>
    <div id="productInfos">
        {{ sylius_template_event('sylius.shop.product.show.right_sidebar', _context) }}
    </div>
</div>

{% if product.complementaryProduct %}
{% set complementary = product.complementaryProduct %}
<div id="otherProducts" class="prodList">
    <div class="background"{% if complementary.background %} style="background-image:url({{ asset('upload/complementary/backgrounds/' ~ complementary.background) }});"{% endif %}>
        <div class="autoMargin">
            <img src="{{ asset('chullanka/assets/img/mask_prodlist.png') }}" alt="">
        </div>
    </div>
    <div class="autoMargin">
        <div class="list">
            <div class="header">
                {% set chulli = complementary.chulli %}
                {% if chulli %}
                <div class="pichulli">
                    <img src="{{ asset('upload/chullis/' ~ chulli.avatar) }}" width="190" height="190" alt="{{ chulli }}">
                </div>
                {% endif %}
                <h2>{{ complementary.title }}</h2>
                
                {% if chulli %}
                <div class="info">
                    <strong>{{ chulli }}</strong>, {{ chulli.expertise }}
                </div>
                {% endif %}
            </div>
            {% include '@SyliusShop/Product/_prodlist_loop.html.twig' with {'products': complementary.products} %}
        </div>
    </div>
</div>
{% endif %}


{#<div id="otherProducts" class="prodList"></div>#}

<div id="productContent" class="autoMargin">
    {#% set chulli_test_date = product.getAttributeByCodeAndLocale('chulli_test_date', configuration.request.locale) %#}
    {% if product.chulltest and product.chulltest.date and product.chulltest.description %}
    <div id="productTest" class="frame">
        {% if product.chulltest.chulli %}
        {% set chulli = product.chulltest.chulli %}
        <div class="pichulli">
            <img src="{{ asset('upload/chullis/' ~ chulli.avatar) }}" width="70" height="70" alt="Chulli">
            <svg class="svg-icon" role="img" style="width:70px; height:70px"><use xlink:href="/chullanka/assets/img/sprites.svg#over-chulli"/></svg>
        </div>
        {% endif %}
        <h2>Découvrez le test complet</h2>
        <button class="pictoLink fold" data-on="Replier" data-off="Lire">Lire</button>
        <div class="foldable">
            <article>
                <div class="header">
                    <date>Le {{ product.chulltest.date|date('m/d/Y') }}</date>
                    {% if chulli %}
                    <strong>PAR</strong>
                    <div class="inline">
                        <span>{{ chulli }}</span>
                        <img src="{{ asset('upload/chullis/' ~ chulli.avatar) }}" width="150" height="150" alt="{{ chulli }}">
                        <span>{{ chulli.expertise }}</span>
                    </div>
                    {% endif %}
                </div>
                
                <div>{{ product.chulltest.description|raw }}</div>

                {#<div class="sumup">
                    <div class="title">Pour résumer :</div>
                    <p>Cette Corde Apsus 7.9Mm De Chez Edelride A Plus D'un Tour Dans Son Sac. </p>
                </div>#}

                <div class="insert">
                    <div class="proCon">
                        <div class="plus">
                            <span>Les plus</span>
                            {% if product.chulltest.pros %}
                            <ul class="list">
                                {% for _val in product.chulltest.pros|split('\n') %}
                                <li>{{ _val }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                        <div class="moins">
                            <span>Les moins</span>
                            {% if product.chulltest.cons %}
                            <ul class="list">
                                {% for _val in product.chulltest.cons|split('\n') %}
                                <li>{{ _val }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                    </div>
                    {% if product.chulltest.note %}
                    <div class="notation">
                        <span>Rapport qualité prix</span>
                        <ul>
                            {% for n in 1..5  %}
                            <li class="{{ (n <= product.chulltest.note) ? 'on' : 'off' }}"><svg class="svg-icon" role="img"><use xlink:href="/chullanka/assets/img/sprites.svg#notation"/></svg></li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </article>
        </div>
    </div>
    {% endif %}

    <div id="fullDescription" class="frame">
        <h2>Description détaillée</h2>
        <button class="pictoLink fold" data-on="Replier" data-off="Lire">Lire</button>
        <div class="foldable">
            {{ sylius_template_event('sylius.shop.product.show.tab_details', _context) }}
        </div>
    </div>

    <div class="frame">
        <h2>Caractéristiques techniques</h2>
        <a href="#" class="pictoLink fold" data-on="Replier" data-off="Lire">Lire</a>
        <div class="foldable">
            {{ sylius_template_event('sylius.shop.product.show.tab_attributes', _context) }}
        </div>
    </div>

    <div id="guideDesTailles" class="frame">
        <h2>Guide des tailles</h2>
        <a href="#" class="pictoLink fold" data-on="Replier" data-off="Lire">Lire</a>
        <div class="foldable">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi magni eveniet consequatur nostrum, praesentium in velit deleniti cupiditate blanditiis dolores non tempore necessitatibus odit minus perspiciatis optio atque quidem temporibus.</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi magni eveniet consequatur nostrum, praesentium in velit deleniti cupiditate blanditiis dolores non tempore necessitatibus odit minus perspiciatis optio atque quidem temporibus.</p>
        </div>
    </div>

    <div id="askAnswers" class="frame">
        <h2>Vos questions - Nos réponses</h2>
        <a href="#" class="pictoLink fold" data-on="Replier" data-off="Lire">Lire</a>
        <div class="foldable">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi magni eveniet consequatur nostrum, praesentium in velit deleniti cupiditate blanditiis dolores non tempore necessitatibus odit minus perspiciatis optio atque quidem temporibus.</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi magni eveniet consequatur nostrum, praesentium in velit deleniti cupiditate blanditiis dolores non tempore necessitatibus odit minus perspiciatis optio atque quidem temporibus.</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi magni eveniet consequatur nostrum, praesentium in velit deleniti cupiditate blanditiis dolores non tempore necessitatibus odit minus perspiciatis optio atque quidem temporibus.</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi magni eveniet consequatur nostrum, praesentium in velit deleniti cupiditate blanditiis dolores non tempore necessitatibus odit minus perspiciatis optio atque quidem temporibus.</p>
        </div>
    </div>

    <div id="reviews" class="frame">
        <h2 class="clientRating">
            <ul class="rating">
                {% for n in 1..5  %}
                <li class="{{ (n <= product.averageRating|round) ? 'on' : 'off' }}"><svg class="svg-icon" role="img"><use xlink:href="/chullanka/assets/img/sprites.svg#ico-star"/></svg></li>
                {% endfor %}
            </ul>
        </h2>
        <a href="#" class="pictoLink fold" data-on="Replier" data-off="45 avis">45 avis</a>
        <div class="foldable">
            {{ sylius_template_event('sylius.shop.product.show.tab_reviews', _context) }}
        </div>
    </div>

    {{ sylius_template_event('sylius.shop.product.show.content', _context) }}
</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}

<script type="text/javascript">
    lightbox.option({
        'albumLabel': '{{ 'sylius.lightbox.image_album_label'|trans|escape('js') }}'
    });

    {% if product.isPack %}
    $(document).ready(function() {
        $('#packElements .packElement label').on('click', function(e) {
            var $this = $(this);
            $this.find('input[type=radio]').prop('checked', true); // force for IE !
            $this.addClass('selected');
            $this.parents('#packElements').find('label').not($this).removeClass('selected').find('input[type=radio]').prop('checked', false);
              
            // copy config selector
            $('.subconfig').empty();
            if($this.find('.product-option-data').length)
            {
                var $optionData = $this.find('.product-option-data').find('.pack-conf-products').clone();
                $optionData.addClass('packElement');
                $optionData.find('label').removeClass('hidden').wrap('<div class="elementTitle"></div>');
                $optionData.find('select').each(function(i,o){
                    var _id = $(o).data('id');
                    var _name = $(o).data('name');
                    $(o).attr('id', _id).attr('name', _name);
                });
                $('.subconfig').append($optionData);
            }
        });
    });
    {% endif %}
</script>
{% endblock %}