{% extends '@SyliusShop/layout.html.twig' %}

{% if product.metaTitle %}
    {% set _productTitle = product.metaTitle|e %}
{% else %}
    {% set _productTitle = product.name|e %}
    {% if product.highestTaxon %}
    {% set _productTitle = _productTitle ~ ' – ' ~ product.highestTaxon.name|e %}
    {% elseif product.mainTaxon %}
    {% set _productTitle = _productTitle ~ ' – ' ~ product.mainTaxon.name|e %}
    {% endif %}
    {% set _productTitle = _productTitle ~ ' – Chullanka' %}
{% endif %}
{% block title %}{{ _productTitle }}{% endblock %}

{% block metatags %}
<meta name="description" content="{{ product.metaDescription ? product.metaDescription|e : product.name|e ~ ' – ' ~ product.shortDescription|e }}">
{% endblock %}

{% set univers = null %}
{% if taxon is defined %}
    {% set ancestors = taxon.ancestors|reverse %}
    {% for ancestor in ancestors %}
        {% if not ancestor.isRoot() and univers is null %}
            {% set univers = ancestor %}
        {% endif %}
    {% endfor %}
    {% if univers is null %}
        {% set univers = taxon %}
    {% endif %}
{% endif %}

{% block content %}
{% include '@SyliusShop/Product/Show/_breadcrumb.html.twig' %}

<div id="productTop" class="autoMargin">
    <div id="illustration">
        <div class="stickIt">
            {% include '@SyliusShop/Product/_labels.html.twig' with {'product': product} %}
            {{ sylius_template_event('sylius.shop.product.show.left_sidebar', _context) }}
        </div>
    </div>
    <div id="productInfos">
        {{ sylius_template_event('sylius.shop.product.show.right_sidebar', _context) }}
    </div>
</div>

{% if product.complementaryProduct %}
{% set complementary = product.complementaryProduct %}
<div id="otherProducts" class="prodList">
    <div class="background"{% if complementary.background %} style="background-image:url({{ asset('media/complementary/backgrounds/' ~ complementary.background) }});"{% endif %}>
        <div class="autoMargin">
            <img src="{{ asset('build/chullanka/images/mask_prodlist.png', 'chullanka') }}" alt="">
        </div>
    </div>
    <div class="autoMargin">
        <div class="list">
            <div class="header">
                {% set chulli = complementary.chulli %}
                {% if chulli %}
                <div class="pichulli">
                    <img src="{{ asset('media/chullis/' ~ chulli.avatar) }}" width="190" height="190" alt="{{ chulli }}">
                </div>
                {% endif %}
                <h2>{{ complementary.title }}</h2>
                
                {% if chulli %}
                <div class="info">
                    <strong>{{ chulli }}</strong>, {{ chulli.expertise }}
                </div>
                {% endif %}
            </div>
            {% include '@SyliusShop/Product/_prodlist_loop.html.twig' with {'products': complementary.products} %}
        </div>
    </div>
</div>
{% endif %}

<div id="{{ t2scID }}-1200-2"></div>
{#<div id="{{ t2scID }}-1200-17"></div>#}

<div id="productContent" class="autoMargin">
    {#% set chulli_test_date = product.getAttributeByCodeAndLocale('chulli_test_date', configuration.request.locale) %#}
    {% if product.chulltest and product.chulltest.date and product.chulltest.description %}
    <div id="productTest" class="frame">
        {% if product.chulltest.chulli %}
        {% set chulli = product.chulltest.chulli %}
        <div class="pichulli">
            <img src="{{ asset('media/chullis/' ~ chulli.avatar) }}" width="70" height="70" alt="Chulli">
            <svg class="svg-icon" role="img" style="width:70px; height:70px"><use xlink:href="{{ asset('build/chullanka/images/sprites.svg', 'chullanka') }}#over-chulli"/></svg>
        </div>
        {% endif %}
        <h2>Découvrez le test complet</h2>
        <button class="pictoLink fold" data-on="Replier" data-off="Lire">Lire</button>
        <div class="foldable">
            <article>
                <div class="header">
                    <date>Le {{ product.chulltest.date|date('m/d/Y') }}</date>
                    {% if chulli %}
                    <strong>PAR</strong>
                    <div class="inline">
                        <span>{{ chulli }}</span>
                        <img src="{{ asset('media/chullis/' ~ chulli.avatar) }}" width="150" height="150" alt="{{ chulli }}">
                        <span>{{ chulli.expertise }}</span>
                    </div>
                    {% endif %}
                </div>
                
                <div class="body wysiwyg">{{ product.chulltest.description|raw }}</div>

                {% if product.chulltest.sumup %}
                <div class="sumup">
                    <div class="title">Pour résumer :</div>
                    <p>{{ product.chulltest.sumup }}</p>
                </div>
                {% endif %}

                <div class="insert">
                    <div class="proCon">
                        <div class="plus">
                            <span>Les plus</span>
                            {% if product.chulltest.pros %}
                            <ul class="list">
                                {% for _val in product.chulltest.pros|split('\n') %}
                                <li>{{ _val }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                        <div class="moins">
                            <span>Les moins</span>
                            {% if product.chulltest.cons %}
                            <ul class="list">
                                {% for _val in product.chulltest.cons|split('\n') %}
                                <li>{{ _val }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                    </div>
                    {% if product.chulltest.note %}
                    <div class="notation">
                        <span>Rapport qualité prix</span>
                        <ul>
                            {% for n in 1..5  %}
                            <li class="{{ (n <= product.chulltest.note) ? 'on' : 'off' }}"><svg class="svg-icon" role="img"><use xlink:href="{{ asset('build/chullanka/images/sprites.svg', 'chullanka') }}#notation"/></svg></li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </article>
        </div>
    </div>
    {% endif %}

    <div id="fullDescription" class="frame">
        <h2>Description détaillée</h2>
        <button class="pictoLink fold" data-on="Replier" data-off="Lire">Lire</button>
        <div class="foldable wysiwyg">
            {#{ sylius_template_event('sylius.shop.product.show.tab_details', _context) }#}
            {% if product.description is not empty %}
                {{ product.description|raw }}
            {% else %}
                {{ 'sylius.ui.no_description'|trans }}.
            {% endif %}
        </div>
    </div>

    <div class="frame">
        <h2>Caractéristiques techniques</h2>
        <a href="#" class="pictoLink fold" data-on="Replier" data-off="Lire">Lire</a>
        <div class="foldable">
            {{ sylius_template_event('sylius.shop.product.show.tab_attributes', _context) }}
        </div>
    </div>

    {% if product.brand and product.brand.sizeGuide %}
    <div id="guideDesTailles" class="frame">
        <h2>Guide des tailles</h2>
        <a href="#" class="pictoLink fold" data-on="Replier" data-off="Lire">Lire</a>
        <div class="foldable">
            {{ product.brand.sizeGuide|raw }}
        </div>
    </div>
    {% endif %}

    {% if product.enabledFaqs|length > 0 %}
    <div id="askAnswers" class="frame">
        <h2>Vos questions - Nos réponses</h2>
        <a href="#" class="pictoLink fold" data-on="Replier" data-off="Lire">Lire</a>
        <div class="foldable">
            <ul class="faqs">
                {% for faq in product.enabledFaqs|slice(0, 2) %}
                <li>
                    <svg class="svg-icon" role="img" style="width:18.461px; height:31.623px"><use xlink:href="{{ asset('build/chullanka/images/sprites.svg', 'chullanka') }}#ico-question"/></svg>
                    <strong>{{ faq.question }}</strong>
                    <div>{{ faq.answer }}</div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}

    <div id="reviews" class="frame">
        <h2 class="clientRating">
            <ul class="rating">
                {% for n in 1..5  %}
                <li class="{{ (n <= product.averageRating|round) ? 'on' : 'off' }}"><svg class="svg-icon" role="img"><use xlink:href="{{ asset('build/chullanka/images/sprites.svg', 'chullanka') }}#ico-star"/></svg></li>
                {% endfor %}
            </ul>
        </h2>
        <a href="#" class="pictoLink fold" data-on="Replier" data-off="{{ product.acceptedReviews|length }} avis">{{ product.acceptedReviews|length }} avis</a>
        <div class="foldable">
            {{ sylius_template_event('sylius.shop.product.show.tab_reviews', _context) }}

            <a href="{{ path('sylius_shop_product_review_create', {'slug': product.slug, '_locale': product.translation.locale}) }}" class="btn primary"><i class="icon plus"></i> {{ 'sylius.ui.add_your_review'|trans }}</a>
        </div>
    </div>
</div>

<div id="panierPop" class="popin hidden" data-url="{{ path('chk_ajax_popaddtocart') }}">
    <div class="popinside">
        <button class="closePopin" alt="Fermer"><svg class="svg-icon" role="img"><use xlink:href="{{ asset('build/chullanka/images/sprites.svg', 'chullanka') }}#ico-close-alt"/></svg></button>
        <h2 class="popin-title">Ajouter au panier</h2>
        <div class="section"></div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    lightbox.option({
        'albumLabel': '{{ 'sylius.lightbox.image_album_label'|trans|escape('js') }}'
    });

    $(document).ready(function() {
    {% if product.isPack %}
        $('#packElements .packElement label').on('click', function(e) {
            var $this = $(this);
            $this.find('input[type=radio]').prop('checked', true); // force for IE !
            $this.addClass('selected');
            $this.parents('#packElements').find('label').not($this).removeClass('selected').find('input[type=radio]').prop('checked', false);
              
            // copy config selector
            $('.subconfig').empty();
            if($this.find('.product-option-data').length)
            {
                var $optionData = $this.find('.product-option-data').find('.pack-conf-products').clone();
                $optionData.addClass('packElement');
                $optionData.find('label').removeClass('hidden').wrap('<div class="elementTitle"></div>');
                $optionData.find('select').each(function(i,o){
                    var _id = $(o).data('id');
                    var _name = $(o).data('name');
                    $(o).attr('id', _id).attr('name', _name);
                });
                $('.subconfig').append($optionData);
            }
        });
    {% else %}
        var _url = '{{ path('chk_ajax_prodstocks', {'id': product.id}) }}';
        //_url += '?rand=' + Math.random().toString(16).substr(2,8);
        
        jQuery.ajax({
            url: _url,
            dataType: 'json',
        }).done(function(data) {
            if(data) {
                dispos = data;
            {% if product.simple %}
                displayAvailabilities({{ product.variants.first.id }});
            {% else %}
                checkAvailabilities();
                $('[name*="sylius_add_to_cart[cartItem][variant]"]').on('change', function () {
                    checkAvailabilities();
                });
            {% endif %}
            }
        });
    {% endif %}
    });
</script>
{% endblock %}