{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

{% set variant = item.variant %}
{% set product = variant.product %}
{% set gift = ((item.further.gift is defined) and (item.further.gift == true)) %}
<div class="cartItem insert{% if gift %} gift{% endif %}" {{ sylius_test_html_attribute('cart-product-row', item.productName) }}>
    {% if gift %}
    <div class="header">
        <p><strong>Comme on vous aime, on vous offre des cadeaux !</strong></p>
        <img src="{{ asset('build/chullanka/images/ico-gift.png', 'chullanka')}}" alt="" class="picto">
    </div>
    {% endif %}
    <div class="inside">
        <div class="picture">
            {% if variant.hasImages %}
                {% include '@SyliusShop/Product/_mainImage.html.twig' with {'product': variant, 'filter': 'sylius_shop_product_small_thumbnail'} %}
            {% else %}
                {% include '@SyliusShop/Product/_mainImage.html.twig' with {'product': product, 'filter': 'sylius_shop_product_small_thumbnail'} %}
            {% endif %}
        </div>
        <div class="infos">
            {% include '@SyliusShop/Product/_info.html.twig' with {'item': item, 'variant': variant} %}

            {% if gift == false %}
            <div class="quantity">
                <small>{{ 'sylius.ui.quantity'|trans }}</small>
                <div class="sylius-quantity">
                    <button class="updateQuantity up">+</button>
                    {{ form_widget(form.quantity, sylius_test_form_attribute('cart-item-quantity-input', item.productName)|sylius_merge_recursive({'attr': {'form': main_form, 'data-max-available': variant.maxQty}})) }}
                    <button class="updateQuantity down">-</button>
                </div>
                <strong class="error{% if item.quantity <= variant.maxQty %} hidden{% endif %}">Quantité maximum&nbsp;: {{ variant.maxQty }}</strong>
            </div>
            
            <div class="total">
                <small>{#{ 'sylius.ui.total'|trans }#}Prix total</small>
                <div class="sylius-total" {{ sylius_test_html_attribute('cart-product-subtotal') }}>
                    {{ money.convertAndFormat(item.subtotal) }}
                
                    {% if variant.storeStockOnly %}
                    <span class="excluMag">cet article est <strong>uniquement disponible en magasin</strong></span>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    {% if gift == false %}
    <div class="actions-line">
        <button type="submit" {{ sylius_test_html_attribute('cart-update-button') }} form="{{ main_form }}">Modifier</button>
        <form action="{{ path('sylius_shop_cart_item_remove', {'id': item.id}) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            <input type="hidden" name="_csrf_token" value="{{ csrf_token(item.id) }}" />
            <button type="submit" class="sylius-cart-remove-button" {{ sylius_test_html_attribute('cart-remove-button', item.productName) }} >Supprimer</button>
        </form>
    </div>
    {% endif %}
</div>