{% include '@SyliusShop/Homepage/_trustpilot.html.twig' %}

{{ bitbag_cms_render_media('packs', '@SyliusShop/Product/_packlist.html.twig') }}

<br>

<div id="socials">
    <div class="instag">
        <div class="autoMargin">
            <h2>Ça se passe sur Instagram</h2>
            <a href="https://www.instagram.com/chullanka_outdoor_sports/" target="_blank">@chullanka_outdoor_sports</a>
        </div>
        <!-- LightWidget WIDGET -->
        <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
        <iframe src="https://cdn.lightwidget.com/widgets/53bb309c4be35a49a7026939edfcf237.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
    </div>

    <br>
    <div class="autoMargin">
        <h2>On se retrouve sur les réseaux ?</h2>
        <ul class="links">
            <li><a href="https://www.instagram.com/chullanka_outdoor_sports/" target="_blank" title="Instagram"><svg class="svg-icon" role="img"><use xlink:href="{{ asset('build/chullanka/images/sprites.svg', 'chullanka') }}#ico-instagram"/></svg></a></li>
            {#<li><a href="https://twitter.com/chullanka" target="_blank" title="Twitter"><svg class="svg-icon" role="img"><use xlink:href="{{ asset('build/chullanka/images/sprites.svg', 'chullanka') }}#ico-twitter"/></svg></a></li>#}
            <li><a href="https://www.facebook.com/chullanka" target="_blank" title="Facebook"><svg class="svg-icon" role="img"><use xlink:href="{{ asset('build/chullanka/images/sprites.svg', 'chullanka') }}#ico-facebook"/></svg></a></li>
            <li><a href="https://www.youtube.com/c/CHULLANKATV" target="_blank" title="YouTube"><svg class="svg-icon" role="img"><use xlink:href="{{ asset('build/chullanka/images/sprites.svg', 'chullanka') }}#ico-youtube"/></svg></a></li>
            <li><a href="https://www.linkedin.com/company/chullanka/" target="_blank" title="LinkedIn"><svg class="svg-icon" role="img"><use xlink:href="{{ asset('build/chullanka/images/sprites.svg', 'chullanka') }}#ico-linkedin"/></svg></a></li>
        </ul>
    </div>
</div>

{% include '@SyliusShop/Homepage/_newsletter.html.twig' %}

{% if univers is defined and univers is not null %}
{{ render(path('chk_last_blog_posts', {'univers': univers.id })) }}
{% else %}
{{ render(path('chk_last_blog_posts')) }}
{% endif %}

<footer id="footer">
    <div class="inside">
        {{ render(path('get_pages_by_section', {'sectionCode': 'footer_links_1'})) }}
        {{ render(path('get_pages_by_section', {'sectionCode': 'footer_links_2'})) }}
        {{ render(path('get_pages_by_section', {'sectionCode': 'footer_links_3'})) }}
    </div>

    <div id="ourAdventure">
        <picture>
            <source media="(max-width: 944px)" srcset="{{ asset('build/chullanka/images/notre-aventure-mb.png', 'chullanka') }}">
            <source media="(min-width: 945px)" srcset="{{ asset('build/chullanka/images/notre-aventure.png', 'chullanka') }}">
            <img src="{{ asset('build/chullanka/images/notre-aventure.png', 'chullanka') }}" alt="Notre aventure">
        </picture>
    </div>
    {#{ sylius_template_event('sylius.shop.layout.footer') }#}
</footer>

<div id="feedback">
    <img src="{{ asset('build/chullanka/images/chulli_1.jpg', 'chullanka') }}" alt="">
    <h2>Et cette page, elle vous plaît ?</h2>
    <p>Faites comme si vous étiez en magasin :)</p>
    <a href="#">Dites-nous franchement ce qui cloche</a>
</div>