<div class="getAdvice">
    <div class="insert">
    {% if title is not empty %}
        <strong>{{ title }}</strong>
    {% endif %}
    {% if allIsGood %}
        <p>Votre demande a été enregistrée. Nous vous rappellerons rapidement, promis !</p>
    {% else %}
        {{ form_start(form) }}
            {{ form_widget(form.phone_number, {'attr': {'placeholder': 'Votre numéro de téléphone'}}) }}
            {% if recall.product %}
            <input type="hidden" name="pid" value="{{ recall.product.id }}">
            {% endif %}
            <button type="submit" class="btn btnCall">
                <div class="pichulli">
                    <img src="{{ asset('build/chullanka/images/chulli_3.jpg', 'chullanka') }}" width="60" height="60" alt="Chulli">
                    <svg class="svg-icon" role="img" style="width:64px; height:60px"><use xlink:href="{{ asset('build/chullanka/images/sprites.svg', 'chullanka') }}#over-chulli"/></svg>
                </div>
                <strong>Faites-vous appeler</strong>
            </button>
            <p>Un de nos Chullis se chargera de vous contacter et promis on ne vous spammera pas :)</p>
        {{ form_end(form) }}
    {% endif %}
    </div>
</div>