<!DOCTYPE html>

<html lang="{{ app.request.locale|slice(0, 2) }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %}{{ sylius.channel.name }}{% endblock %}</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    {% block metatags %}
    {% endblock %}

    {% block stylesheets %}
        {#{ sylius_template_event('sylius.shop.layout.stylesheets') }#}
        {#% include '@SyliusUi/_stylesheets.html.twig' with {'path': 'chullanka/assets/css/shop.style.css'} %}
        {% include '@SyliusUi/_stylesheets.html.twig' with {'path': 'chullanka/assets/css/glider.min.css'} %}
        {% include '@SyliusUi/_stylesheets.html.twig' with {'path': 'chullanka/assets/css/styles.css'} %#}
        {{ encore_entry_link_tags('chullanka-entry', null, 'chullanka') }}
    {% endblock %}

    <!-- TrustBox script -->
    <script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>
    <!-- End TrustBox script -->

    {{ sylius_template_event('sylius.shop.layout.head') }}
</head>

{% set _where = app.request.attributes.get('_controller')|split(':') %}
{% set _controller = _where[0] %}

{% set body_class = '' %}
{% if app.request.get('_route') == 'sylius_shop_homepage' %}
    {% set body_class = 'home' %}
{% elseif _controller == 'sylius.controller.order' %}
    {% set body_class = 'checkout' %}
    {% if app.request.get('_route') == 'sylius_shop_cart_summary' or  app.request.get('_route') == 'sylius_shop_cart_save' %}
    {% set body_class = body_class ~ ' cart' %}
    {% endif %}
{% elseif _controller == 'sylius.controller.customer' %}
    {% set body_class = 'customer' %}
{% elseif _controller == 'sylius.controller.shop_user' %}
    {% set body_class = 'customer' %}
{% elseif _controller == 'sylius.controller.address' %}
    {% set body_class = 'customer' %}
{% endif %}

<body {% block bodyattr %}{% endblock %}{% if body_class %}class="{{ body_class }}"{% endif %}>
{% include '@SyliusShop/Layout/_target2Sell.html.twig' %}
{#{ dump(_where) }#}
{{ sylius_template_event('sylius.shop.layout.before_body') }}
{% block top %}
{{ render(path('bitbag_sylius_cms_plugin_shop_block_render', {'code' : 'topAnnounce', 'template' : '@SyliusShop/Layout/_topAnnounce.html.twig'})) }}
    
    {#
    <div id="menu" class="ui large sticky inverted stackable menu">
        {{ sylius_template_event('sylius.shop.layout.topbar') }}
    </div>
    #}
{% endblock %}

{% block header %}
    <header>
        {{ sylius_template_event('sylius.shop.layout.header') }}
    </header>
{% endblock %}

{% block flashmessage %}
{% include '@SyliusShop/_flashes.html.twig' %}
{% endblock %}

<!--div class="ui container"-->
    {{ sylius_template_event('sylius.shop.layout.before_content') }}
    {% block centersite %}
        {% block content %}
        {% endblock %}
    {% endblock %}
    {{ sylius_template_event('sylius.shop.layout.after_content') }}
<!--/div-->

{% block footer %}
    {% include '@SyliusShop/_footer.html.twig' %}
{% endblock %}

{% block javascripts %}
    {#{ sylius_template_event('sylius.shop.layout.javascripts') }#}
    {#% include '@SyliusUi/_javascripts.html.twig' with {'path': 'chullanka/assets/js/shop.app.js'} %}
    {% include '@SyliusUi/_javascripts.html.twig' with {'path': 'chullanka/assets/js/glider.js'} %#}
    {% include '@SyliusUi/_javascripts.html.twig' with {'path': asset('build/chullanka/chullanka-entry.js', 'chullanka')} %}
    {#{ encore_entry_script_tags('chullanka-entry', null, 'chullanka') }#}
    {% include '@SyliusUi/_javascripts.html.twig' with {'path': 'bundles/bitbagsyliusmailchimpplugin/bitbag-mailchimp-plugin-newsletter.js'} %}

    {#
    <script>
        const dfLayerOptions = {
            installationId: 'c7e0949f-6227-4a25-83be-f1fe428af6df',
            zone: 'eu1'
        };

        (function (l, a, y, e, r, s) {
            r = l.createElement(a); r.onload = e; r.async = 1; r.src = y;
            s = l.getElementsByTagName(a)[0]; s.parentNode.insertBefore(r, s);
        })(document, 'script', 'https://cdn.doofinder.com/livelayer/1/js/loader.min.js', function () {
            doofinderLoader.load(dfLayerOptions);
        });
    </script>
    #}

    {#% include '@SyliusUi/_javascripts.html.twig' with {'path': 'chullanka/assets/js/app.js'} %#}
    <script>
    $(document).ready(function() {
        $(window).on('popstate', function() {
            $('.loadable').removeClass('loading');//dans le cas où il y a un retour en arrière du navigateur
        });

        if(document.querySelector('#cartLink'))
        {
            jQuery.ajax({
                url: '{{ path('chk_ajax_profilinfos') }}',
                dataType: 'json',
            }).done(function(data) {
                if(data)
                {
                    var _customerLink = document.querySelector('#customerLink span');
                    if(_customerLink)
                    {
                        _customerLink.innerText = data.notifications;
                        _customerLink.style.opacity = (data.notifications > 0) ? 1 : 0;
                    }
                    var _customerLinkMob = document.querySelector('#navBottom .forNotice span');
                    if(_customerLinkMob)
                    {
                        _customerLinkMob.innerText = data.notifications;
                        _customerLinkMob.style.opacity = (data.notifications > 0) ? 1 : 0;
                    }

                    var _cartLink = document.querySelector('#cartLink span');
                    if(_cartLink)
                    {
                        _cartLink.innerText = data.cart_items;
                        _cartLink.style.opacity = (data.cart_items > 0) ? 1 : 0;
                    }
                }
            });
        }

        $('body').on('submit', '.getAdvice form', function (e) {
            e.preventDefault();
            var $form = $(this);
            $form.addClass('loading');
            var $block = $(this).parents('.getAdvice');
            $.ajax({
                type: 'POST',
                url: '{{ path('chk_ajax_getadviceform') }}',
                data: $form.serialize()
            }).done(function(data){
                //if($block.hasClass('.beCalled'))
                $block.replaceWith(data);
            });
            /*.fail(function(data){
            });*/
        });

        if($('#footer-newsletter-form').length)
        {
            $('#footer-newsletter-form').joinNewsletter();
        }
    });
    </script>
{% endblock %}

{% include '@SyliusUi/Modal/_confirmation.html.twig' %}
{{ sylius_template_event('sylius.shop.layout.after_body') }}
</body>
</html>