<!DOCTYPE html>

<html lang="{{ app.request.locale|slice(0, 2) }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %}{{ sylius.channel.name }}{% endblock %}</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    {% block metatags %}
    {% endblock %}

    {% block stylesheets %}
        {#{ sylius_template_event('sylius.shop.layout.stylesheets') }#}
        {% include '@SyliusUi/_stylesheets.html.twig' with {'path': 'chullanka/assets/css/shop.style.css'} %}
        {% include '@SyliusUi/_stylesheets.html.twig' with {'path': 'chullanka/assets/css/glider.min.css'} %}
        {% include '@SyliusUi/_stylesheets.html.twig' with {'path': 'chullanka/assets/css/styles.css'} %}
    {% endblock %}

    {{ sylius_template_event('sylius.shop.layout.head') }}
</head>

{% set _where = app.request.attributes.get('_controller')|split(':') %}
{% set _controller = _where[0] %}

{% set body_class = '' %}
{% if app.request.get('_route') == 'sylius_shop_homepage' %}
    {% set body_class = 'home' %}
{% elseif _controller == 'sylius.controller.order' %}
    {% set body_class = 'checkout' %}
    {% if app.request.get('_route') == 'sylius_shop_cart_summary' %}
    {% set body_class = body_class ~ ' cart' %}
    {% endif %}
{% elseif _controller == 'sylius.controller.customer' %}
    {% set body_class = 'customer' %}
{% endif %}

<body {% block bodyattr %}{% endblock %}{% if body_class %} class="{{ body_class }}"{% endif %}>
{#{ dump(_where) }#}
{{ sylius_template_event('sylius.shop.layout.before_body') }}
{% block top %}
    <div id="topAnnounce">
        <button class="close"><svg class="svg-icon" role="img" style="width:18px; height:18px"><use xlink:href="{{ asset('chullanka/assets/img/sprites.svg#ico-close') }}"/></svg></button>
        <p>
            <strong>Soldes : jusqu'à -70%</strong>
            Profitez vite de nos nouvelles offres
            <a href="#">C'est par ici</a>
        </p>
    </div>
    {#
    <div id="menu" class="ui large sticky inverted stackable menu">
        {{ sylius_template_event('sylius.shop.layout.topbar') }}
    </div>
    #}
{% endblock %}

{% block header %}
    <header>
        {{ sylius_template_event('sylius.shop.layout.header') }}
    </header>
{% endblock %}

<div class="autoMargin">
    {% include '@SyliusShop/_flashes.html.twig' %}
</div>

<!--div class="ui container"-->
    {{ sylius_template_event('sylius.shop.layout.before_content') }}
    {% block centersite %}
        {% block content %}
        {% endblock %}
    {% endblock %}
    {{ sylius_template_event('sylius.shop.layout.after_content') }}
<!--/div-->

{% block footer %}
    {% include '@SyliusShop/_footer.html.twig' %}
{% endblock %}

{% block javascripts %}
    {#{ sylius_template_event('sylius.shop.layout.javascripts') }#}
    {% include '@SyliusUi/_javascripts.html.twig' with {'path': 'chullanka/assets/js/shop.app.js'} %}
    {% include '@SyliusUi/_javascripts.html.twig' with {'path': 'chullanka/assets/js/glider.js'} %}
    {% include '@SyliusUi/_javascripts.html.twig' with {'path': 'chullanka/assets/js/app.js'} %}
    <script>
    $(document).ready(function() {
        $('body').on('submit', '.getAdvice form', function (e) {
            e.preventDefault();
            var $form = $(this);
            $form.addClass('loading');
            var $block = $(this).parents('.getAdvice');
            $.ajax({
                type: 'POST',
                url: '{{ path('chk_ajax_getadviceform') }}',
                data: $form.serialize()
            }).done(function(data){
                //if($block.hasClass('.beCalled'))
                $block.replaceWith(data);
            });
            /*.fail(function(data){
            });*/
        });
    });
    </script>
{% endblock %}

{% include '@SyliusUi/Modal/_confirmation.html.twig' %}
{{ sylius_template_event('sylius.shop.layout.after_body') }}
</body>
</html>