    {{ form_start(form, {'attr': {'id': 'favorite_sports'}}) }}
    {{ form_errors(form) }}
    {% form_theme form _self %}
    {% block choice_widget %}
    <div class="glider-contain">
        <div class="glider">
            {% for child in form.favoriteSports %}
            <div>
                <div class="choice_sport">
                    <img src="{{ asset('build/chullanka/images/favsport_' ~ child.vars.value ~ '.jpg', 'chullanka') }}" alt="">
                    {{ form_widget(child) }}
                    <label for="{{ child.vars.id }}"><svg class="svg-icon" role="img"><use xlink:href="{{ asset('build/chullanka/images/sprites.svg', 'chullanka') }}#ico-love"/></svg></label>
                    <strong>{{ child.vars.label }}</strong>
                </div>
            </div>
            {% endfor %}
        </div>
        <div role="tablist" class="dots"></div>
    </div>
    <script>
        window.addEventListener('load', function(){
            new Glider(document.querySelector('#favoriteSports .glider'), { 
                slidesToShow: 'auto',
                itemWidth: 160,
                exactWidth: 150,
                slidesToScroll : 1,
                duration: 2,
                draggable: true,
                scrollLock: true,
                dots: '#favoriteSports .dots'
            });
        });
    </script>
    {% endblock choice_widget %}

    <p>C'est le moment de briller ! Indiquez-nous vos sports favoris et on tachera de vous proposer le top des produits et avantages dans vos disciplines.</p>
    <div class="formaction">
        <button type="submit" class="btn primary">Enregistrer</button>
    </div>
    {{ form_end(form) }}