{#% extends '@SyliusShop/layout.html.twig' %#}
{% extends app.request.xmlHttpRequest 
     ? '@SyliusShop/layout_ajax.html.twig'
     : '@SyliusShop/layout.html.twig' %}

{% import '@SyliusUi/Macro/messages.html.twig' as messages %}
{% import '@SyliusUi/Macro/pagination.html.twig' as pagination %}

{% form_theme form '@BitBagSyliusElasticsearchPlugin/Shop/Product/filter_theme.html.twig' %}

{% set ajax_pagination = app.request.get('page') %}

{% block title %}{{ brand.metaTitle ? brand.metaTitle|e : brand.name|e ~ ' – tous les produits outdoor pas cher - Chullanka' }}{% endblock %}
{% block metatags %}
<meta name="description" content="{{ brand.metaDescription ? brand.metaDescription|e : 'La plus grande offre ' ~ brand.name|e ~ ' est chez Chullanka qui vous propose le meilleur de l’équipement randonnée, ski, escalade, alpinisme, au meilleur prix !' }}">
{% endblock %}

{% block bodyattr %}id="brand"{% endblock %}

{% block content %}

{% if app.request.xmlHttpRequest == false %}
<div id="js-loader" class="ui form"></div>

<div id="brandTop"{% if brand.background %} style="background-image:url({{ asset('upload/brand/backgrounds/' ~ brand.background) }});"{% endif %}>
    <div class="autoMargin">
        <ul id="breadcrumb">
            <li><a href="{{ path('sylius_shop_homepage') }}">{{ 'sylius.ui.home'|trans }}</a></li>
            <li><a href="{{ path('brand_index') }}">{{ 'app.front.brands'|trans }}</a></li>
            <li>{{ brand.name }}</li>
        </ul>
        
        <div class="grid">
            <div>
                <h1>{{ brand.name }}</h1>
                <p>{{ brand.introduction|raw }}</p>
                <ul class="socials">
                    {% if brand.logo %}<li><img src="{{ asset('upload/brand/logos/' ~ brand.logo) }}" alt="{{ brand.name }}" class="logo"></li>{% endif %}
                    {% if brand.SocInstagram %}<li><a href="{{ brand.SocInstagram }}" target="_blank"><i class="icon instagram" title="Instagram"></i></a></li>{% endif %}
                    {% if brand.SocYoutube %}<li><a href="{{ brand.SocYoutube }}" target="_blank"><i class="icon youtube" title="YouTube"></i></a></li>{% endif %}
                    {% if brand.SocTwitter %}<li><a href="{{ brand.SocTwitter }}" target="_blank"><i class="icon twitter" title="Twitter"></i></a></li>{% endif %}
                    {% if brand.SocFacebook %}<li><a href="{{ brand.SocFacebook }}" target="_blank"><i class="icon facebook" title="Facebook"></i></a></li>{% endif %}
                    {% if brand.SocPinterest %}<li><a href="{{ brand.SocPinterest }}" target="_blank"><i class="icon pinterest" title="Pinterest"></i></a></li>{% endif %}
                </ul>

                {% if brand.advertising %}{{ brand.advertising|raw }}{% endif %}
            </div>

            {% if brand.TopProduct %}
            <div class="topProduct big"{% if brand.ProductBackground %} style="background-image:url({{ asset('upload/brand/backgrounds/' ~ brand.ProductBackground) }});"{% endif %}>
                {% include '@SyliusShop/Product/_box.html.twig' with {'product': brand.TopProduct} %}
            </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="autoMargin">
{#{ bitbag_cms_render_block('un_code') }#}
    
    {{ form_start(form, {'method': 'GET', 'attr': {'id': 'filterForm'}}) }}
    <div id="searchWrapper">
{% endif %}

        {% if ajax_pagination == false %}
        <div id="filters" {{ sylius_test_html_attribute('vertical-menu') }}>
            {% include '@BitBagSyliusElasticsearchPlugin/Shop/Product/_filterForm.html.twig' %}
        </div>
        <div id="productList">
            {% if brand.topProducts|length %}
            <div id="news">
                <h2>Voici les Nouveautés {{ brand.name }}</h2>
                <div class="prodList">
                    <div class="list big">
                        {% for product in brand.topProducts %}
                        <div>
                            {% include '@SyliusShop/Product/_box.html.twig' %}
                        </div>
                        {% endfor %}
                    </div>
                    <div role="tablist" class="dots"></div>
                    <script>
                        window.addEventListener('load', function(){
                            new Glider(document.querySelector('#news .list'), { 
                                itemWidth: 325,
                                slidesToShow: 1,
                                slidesToScroll : 1,
                                duration: 2,
                                draggable: true,
                                scrollLock: true,
                                dots: '.dots',
                                responsive: [
                                    {
                                        breakpoint: 1024,
                                        settings: {
                                            slidesToShow: 'auto'
                                        }
                                    }
                                ]
                            });
                        });
                    </script>
                </div>
            </div>
            {% endif %}


            {% if products|length > 0 %}
            <div class="prodList">
                <h2>Tous les produits {{ brand.name }}</h2>
                <div class="list" id="products" {{ sylius_test_html_attribute('products') }} data-total="{{ products|length }}">
                    {% set _count = 0 %}
                    {% for product in products %}
                        {% include '@SyliusShop/Product/_box.html.twig' %}
                        
                        {#% if _count == 1 %}
                        {% include 'prodlist/encartPromo.html.twig' %}
                        {% endif %#}
                        
                        {% set _count = _count + 1 %}
                    {% endfor %}
                </div>

                {{ pagination.simple(products) }}
            </div>
            {% endif %}
        </div>
        {% else %}
            {# pagination en AJAX #}
            {% for product in products %}
                {% include '@SyliusShop/Product/_box.html.twig' %}
            {% endfor %}
            {{ pagination.simple(products) }}
        {% endif %}

{% if app.request.xmlHttpRequest == false %}
    </div>
    {{ form_end(form, {'render_rest': false}) }}

    <div id="description" class="anchor">
        <div>{{ brand.description|raw }}</div>
		<div class="toAnchor">
			<a href="#brandTop">{{ 'app.front.gototop'|trans }}</a>
		</div>
	</div>
</div>
{% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% include '@BitBagSyliusElasticsearchPlugin/Shop/Product/_js_pagination.html.twig' %}
{% endblock %}