<h4 class="ui header">{{ 'sylius.ui.registered_customers'|trans }}</h4>
<p><strong>{{ 'sylius.ui.if_you_have_an_account_sign_in_with_your_email_address'|trans }}.</strong></p>
{{ form_start(form, {'action': path('sylius_shop_login_check'), 'attr': {'class': 'ui loadable form', 'novalidate': 'novalidate'}}) }}
    <div class="insert">
        {% include '@SyliusShop/Login/_form.html.twig' %}
        {{ sylius_template_event('sylius.shop.login.form', {'form': form}) }} 
    </div>

    <button type="submit" class="btn primary submit" {{ sylius_test_html_attribute('login-button') }}>
        {{ 'sylius.ui.login'|trans }}
    </button>

    <input type="hidden" name="_csrf_shop_security_token" value="{{ csrf_token('shop_authenticate') }}">
{{ form_end(form, {'render_rest': false}) }}
