<ul style="margin-top:2em; border-top:2px dashed; padding-top:2em">
    <li><a href="{{ path('cloudflare_flush') }}">Vider le cache de Cloudflare</a></li>
    <li><a href="{{ path('command_cache_clear') }}">Vider le cache de Sylius</a></li>
    {#<li><a href="{{ path('command_cache_warmup') }}">Chauffer le cache de Sylius</a></li>#}
    <!--li><a href="{{ path('app_admin_parameter_index') }}">Programmer une tâche</a></!li-->
    <li><a href="{{ path('test_izypro') }}" target="_blank">Tester le SFTP d'Izypro</a></li>
    <li><a href="{{ path('test_ginkoia') }}" target="_blank">Voir le répertoire d'export Ginkoia</a></li>
    <li><a href="{{ path('test_ginkoiaws') }}" target="_blank">Tester le WS de Ginkoia</a></li>
    <li><a href="{{ path('test_uspsession') }}" target="_blank">Tester les Infos Session UpStreamPay</a></li>
</ul>