{% if block is defined %}
<div id="testProducts">
    <div class="autoMargin header">
        {% if block.chullis %}
        <div class="chullis">
            {% for chulli in block.chullis %}
            <div class="chulli">
                <img src="{{ asset('upload/chullis/' ~ chulli.avatar) }}" alt="Chulli">
                <div class="info">
                    <strong>{{ chulli }}</strong>, {{ chulli.expertise }}
                    {% if chulli.store %}, magasin {{ chulli.store }}{% endif %}
                </div>
            </div>
            {% endfor %}
            {#<div class="chulli">
                <img src="{{ asset('chullanka/assets/img/test-chulli-2.jpg') }}" alt="">
                <div class="info">
                    <strong>Auriane</strong>, experte alpinisme, magasin Chullanka Toulouse
                </div>
            </div>
            <div class="chulli">
                <img src="{{ asset('chullanka/assets/img/test-chulli-3.jpg') }}" alt="">
                <div class="info">
                    <strong>Marion</strong>, team randonnée, magasin Chullanka Antibes
                </div>
            </div>
            <div class="chulli">
                <img src="{{ asset('chullanka/assets/img/test-chulli-4.jpg') }}" alt="">
                <div class="info">
                    <strong>Alex</strong>, expert escalade, magasin Chullanka Metz
                </div>
            </div>
            <div class="chulli">
                <img src="{{ asset('chullanka/assets/img/test-chulli-5.jpg') }}" alt="">
                <div class="info">
                    <strong>Pierre</strong>, expert glacier, magasin Chullanka Montpellier
                </div>
            </div>#}
        </div>
        {% endif %}
        <div class="content">
            <h2>{{ block.name }}</h2>
            <div class="wysiwyg">{{ block.content|raw }}</div>
        </div>
    </div>
    <div class="glider-contain">
        <div class="glider">
            {{ render(path('bitbag_sylius_cms_plugin_shop_block_index_by_section_code', {'sectionCode' : 'testProducts', 'template' : '@SyliusShop/Block/test_products.html.twig'})) }}
        </div>
        <div role="tablist" class="dots"></div>
    </div>
    <script>
        window.addEventListener('load', function(){
            new Glider(document.querySelector('#testProducts .glider'), { 
                itemWidth: 340,
                slidesToShow: 1.05,
                slidesToScroll : 1,
                duration: 2,
                draggable: true,
                scrollLock: true,
                dots: '#testProducts .dots',
                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 'auto',
                            itemWidth: 360,
                            exactWidth: 340,
                        }
                    }
                ]
            });
        });
    </script>

    {% if block.link %}
    <a href="{{ block.link }}" class="btn">Découvrir tous nos tests</a>
    {% endif %}
</div>
{% endif %}