{% set _randId = random() %}
<div id="promos_{{ _randId }}" class="promos glider-contain">
    <div class="glider">
        {% if showCallback is defined and showCallback == true %}
        <div>{{ render(path('chk_ajax_getadviceform')) }}</div>
        {% endif %}
        {% for block in blocks %}
        <div>
            {% if block.isTestblock %}
            {% include '@SyliusShop/Block/test_block.html.twig' %}
            {% else %}
                <div style="position:relative;">
                    {% if block.name and block.link %}
                    <a href="{{ block.link }}" style="position:absolute; right:1em; top:1em;">{{ block.name }}</a>
                    {% endif %}
                    
                    {{ bitbag_cms_render_content(block) }}
                </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <div role="tablist" class="dots"></div>
</div>
<script>
    window.addEventListener('load', function(){
        new Glider(document.querySelector('#promos_{{ _randId }} .glider'), { 
            slidesToShow: 1,
            slidesToScroll : 1,
            duration: 2,
            draggable: true,
            scrollLock: true,
            dots: '#promos_{{ _randId }} .dots',
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        itemWidth: 330,
                        slidesToShow: 'auto'
                    }
                }
            ]
        });
    });
    {% if app.request.xmlHttpRequest == true %}
    new Glider(document.querySelector('#promos_{{ _randId }} .glider'), { 
        slidesToShow: 1,
        slidesToScroll : 1,
        duration: 2,
        draggable: true,
        scrollLock: true,
        dots: '#promos_{{ _randId }} .dots',
        responsive: [
            {
                breakpoint: 1024,
                settings: {
                    itemWidth: 330,
                    slidesToShow: 'auto'
                }
            }
        ]
    });
    {% endif %}
</script>