{% if block %}
<div class="testBlock">
    {% if null != block.products and block.products.first %}
    {% set product = block.products.first %}
    <div class="inside split">
        {% include '@SyliusShop/Product/_box.html.twig' with {'product': product} %}
        {% if product.chulltest %}
        <div class="tested">
            {% set chulli = product.chulltest.chulli %}
            <div class="head">
                <div class="pichulli">
                    <img src="{{ asset('media/chullis/' ~ chulli.avatar) }}" width="60" height="60" alt="Chulli">
                    <svg class="svg-icon" role="img" style="width:60px; height:60px"><use xlink:href="{{ asset('build/chullanka/images/sprites.svg', 'chullanka') }}#over-chulli"/></svg>
                </div>
                <img src="{{ asset('build/chullanka/images/ico-guillemets.svg', 'chullanka') }}" style="width:42px; height:38px">
            </div>
            {{ bitbag_cms_render_content(block) }}
            <div class="signature">
                <p>{{ chulli.firstname }}, {{ chulli.expertise }}</p>
            </div>
        </div>
        {% else %}
        <div class="cmsBlock">
            {% if block.name and block.link %}
            <a href="{{ block.link }}" class="link">{{ block.name }}</a>
            {% endif %}
            
            {{ bitbag_cms_render_content(block) }}
        </div>
        {% endif %}
    </div>
    {% else %}
    <div class="inside cmsBlock">
        {% if block.name and block.link %}
        <a href="{{ block.link }}" class="link">{{ block.name }}</a>
        {% endif %}
        
        {{ bitbag_cms_render_content(block) }}
    </div>
    {% endif %}
</div>
{% endif %}