<div id="favoriteStores" class="insert">
    <div class="entete">
        <h2>Votre magasin favori</h2>
        <img src="{{ asset('build/chullanka/images/ico-mag-chull.png', 'chullanka') }}" alt="">
    </div>

    {% if customer.store %}
        {% set store = customer.store %}
        <ul>
            <li><svg class="svg-icon" role="img"><use xlink:href="{{ asset('build/chullanka/images/sprites.svg', 'chullanka') }}#ico-love"/></svg> {{ store.name }}</li>
        </ul>
        <a href="{{ path('store_manage_favorites') }}" class="btn primary">Modifier</a>

        <div class="infoStore">
            <h3>Dans votre magasin {{ store.name }}</h3>
            {% if store.openingHours %}{{ store.openingHours }}<br>{% endif %}
            {{ store.street ~ ' ' ~ store.postcode ~ ' ' ~ store.city  }}
            <br><strong>{{ store.phoneNumber }}</strong>
        </div>

        {% if store.services|length %}
        <div class="services">
            <h3>Tout sur votre magasin favoris</h3>
            <ul>
            {% for service in store.services %}
                <li><a href="{{ path('store_view', {'code': store.code}) }}#services">{{ service.title }}</a></li>    
            {% endfor %}
            </ul>
        </div>
        {% endif %}
    {% else %}
        <a href="{{ path('store_manage_favorites') }}" class="btn primary">Commencer</a>
    {% endif %}

    {#% if customer.favoriteStores|length == 0 %}
        <a href="{{ path('store_manage_favorites') }}" class="btn primary">Commencer</a>
    {% else %}
        <ul>
        {% for store in customer.favoriteStores %}
            <li><svg class="svg-icon" role="img"><use xlink:href="{{ asset('build/chullanka/images/sprites.svg', 'chullanka') }}#ico-love"/></svg> {{ store.name }}</li>
        {% endfor %}
        </ul>
        <a href="{{ path('store_manage_favorites') }}" class="btn primary">Ajouter/Modifier</a>
    {% endif %#}
</div>