<div id="welcome" class="insert">
    {{ sylius_template_event('sylius.shop.account.dashboard.after_content_header', {'customer': customer}) }}

    <div class="entete">
        <div id="customer-information" {{ sylius_test_html_attribute('customer-information') }}>
            <h1>Bienvenue</h1>
            <strong>{{ customer.fullName }}</strong>
        </div>
        <img src="{{ asset('build/chullanka/images/ico-montagne-chull.png', 'chullanka') }}" alt="">
    </div>
    <p><a href="{{ path('sylius_shop_logout') }}">{{ 'sylius.ui.logout'|trans }}</a></p>

    {{ sylius_template_event('sylius.shop.account.dashboard.after_information', {'customer': customer}) }}

    {% if customer.phoneNumber == '' %}
        {{ render(path('chk_ask_phone_number')) }}
    {% endif %}

    <div class="preferences">
        <h3>Vos préférences</h3>
        <ul class="links">
            <li><a href="{{ path('sylius_shop_account_profile_update') }}">Mes informations de compte</a></li>
            <li><a href="{{ path('sylius_shop_account_change_password') }}">{{ 'sylius.ui.change_password'|trans }}</a></li>
        </ul>

        <p>Pensez à les vérifier au moins une fois en détails 🧐</p>
        
        {% if not customer.user.verified %}
            <form class="item" id="verification-form" {{ sylius_test_html_attribute('verification-form') }} action="{{ path('sylius_shop_user_request_verification_token') }}" method="post">
                <button type="submit" class="ui basic icon mini button" {{ sylius_test_html_attribute('verification-button') }}>
                    <i class="checkmark icon"></i> {{ 'sylius.ui.verify'|trans }}
                </button>
            </form>
        {% endif %}
    </div>
</div>

{{ render(path('get_sport_block_for_customer')) }}