<div id="welcome" class="insert">
    {{ sylius_template_event('sylius.shop.account.dashboard.after_content_header', {'customer': customer}) }}

    <div id="customer-information" {{ sylius_test_html_attribute('customer-information') }}>
        <h1>Bienvenue</h1>
        <strong>{{ customer.fullName }}</strong>
        <p><a href="{{ path('sylius_shop_logout') }}">{{ 'sylius.ui.logout'|trans }}</a></p>
    </div>

    {{ sylius_template_event('sylius.shop.account.dashboard.after_information', {'customer': customer}) }}

    <div class="preferences">
        <h2>Vos préférences</h2>
        <ul class="links">
            <li><a href="{{ path('sylius_shop_account_profile_update') }}">Mes informations de compte</a></li>
            <li><a href="{{ path('sylius_shop_account_change_password') }}">{{ 'sylius.ui.change_password'|trans }}</a></li>
        </ul>
        
        {% if not customer.user.verified %}
            <form class="item" id="verification-form" {{ sylius_test_html_attribute('verification-form') }} action="{{ path('sylius_shop_user_request_verification_token') }}" method="post">
                <button type="submit" class="ui basic icon mini button" {{ sylius_test_html_attribute('verification-button') }}>
                    <i class="checkmark icon"></i> {{ 'sylius.ui.verify'|trans }}
                </button>
            </form>
        {% endif %}
    </div>
</div>