<div id="wishlists" class="insert">
    <h2>Vos listes d'envie</h2>
    <div class="intro">
        <div class="pichulli">
            <img src="{{ asset('build/chullanka/images/chulli_5.jpg', 'chullanka') }}" width="66" height="66" alt="Chulli">
            <svg class="svg-icon" role="img" style="width:66px; height:66px"><use xlink:href="{{ asset('build/chullanka/images/sprites.svg', 'chullanka') }}#over-chulli"/></svg>
        </div>
        <p>Ajoute des produits à tes listes d’envies pour les retrouver plus tard, tu pourras ainsi les partager avec tes compagnons d’aventure et vous pourrez préparer votre prochaine expedition.</p>
    </div>

    {% if customer.wishlists|length %}
        {% for wishlist in customer.wishlists %}
        <a href="{{ path('chk_wishlist_view', {'id': wishlist.id}) }}" class="wishlist">
            <strong>{{ wishlist.name }}</strong>
            <br>{{ wishlist.wishlistProducts|length ~ ' article' ~ (wishlist.wishlistProducts|length > 1 ? 's' : '') }}
        </a>
        {% endfor %}

        <div class="newishlist">
            <a href="#" class="btn primary">Créer une nouvelle liste</a>
        </div>
    {% else %}
        <div class="docu">
            <div class="insert">
                <p>Pour mettre un produit en favoris ajouter ce produit dans votre panier puis utiliser cette icone :</p>
                <div>
                    <i class="icon heart"></i>
                    <span>Ajout à la liste d'envie</span>
                </div>
            </div>
        </div>
    {% endif %}
</div>