
{% extends '@SyliusShop/Checkout/layout.html.twig' %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{% import '@SyliusUi/Macro/messages.html.twig' as messages %}

{% set header = 'sylius.ui.your_shopping_cart' %}

{% block title %}{{ header|trans }} | {{ parent() }}{% endblock %}

{% block content %}
    {% if not cart.empty %}
        {{ sylius_template_event('sylius.shop.cart.header', {'header': header, 'cart': cart}) }}
        
        <div class="ui stackable grid">
            <div class="eleven wide column">
                {{ sylius_template_event('sylius.shop.cart.items', {'cart': cart, 'form': form}) }}
            </div>
            <div class="five wide column">
                {{ sylius_template_event('sylius.shop.cart.summary', {'cart': cart, 'form': form}) }}
            </div>
        </div>
        {#{ sylius_template_event('sylius.shop.cart.suggestions', {'cart': cart}) }#}
    {% else %}
        {{ messages.info('sylius.ui.your_cart_is_empty') }}
    {% endif %}
{% endblock %}

{% block javascripts %}
{{ parent() }}

<script type="text/javascript">
    $(document).ready(function() {
        $('.sylius-quantity').each(function(i,o) {
            var $_input = $(o).find('input');
            $_input.attr('type', 'text');
            var _max = $_input.data('max-available');
            var $_error = $(o).next('.error');
            $(o).on('click', '.updateQuantity.up', function(e) {
                var _val = $_input.val();
                _val++;
                if(_val > _max) 
                {
                    _val = _max;
                    $_error.removeClass('hidden');
                }
                $_input.val(_val);
            });
            $(o).on('click', '.updateQuantity.down', function(e) {
                var _val = $_input.val();
                _val--;
                if(_val < 1) _val = 1;
                $_input.val(_val);
            });
        });
    });
</script>
{% endblock %}
