{% block body %}
    {% autoescape false %}
        <div style="font-family: sans-serif; background: #fbfbfb; font-size: 16px; color: #333; line-height: 1.5">
            <div style="width: 622px; margin: 0 auto; background: #fff;">
                <table cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <table cellpadding="0" cellspacing="0">
                                <tr>
                                    <td><img src="{{ absolute_url(asset('chullanka/assets/img/emails/header_blank.png')) }}" alt=""></td>
                                    <td><a href="https://www.chullanka.com" target="_blank"><img src="{{ absolute_url(asset('chullanka/assets/img/emails/header_logo.png')) }}" alt="Chullanka"></a></td>
                                    <td><img src="{{ absolute_url(asset('chullanka/assets/img/emails/header_blank.png')) }}" alt=""></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td><img src="{{ absolute_url(asset('chullanka/assets/img/emails/header_top.png')) }}" alt=""></td>
                    </tr>
                    <tr>
                        <td bgcolor="f47a61" style="padding:10px; text-align:center; font-size:32px;"><font size="4" color="#fff">{% block heademail %}{% endblock %}</font></td>
                    </tr>
                    <tr>
                        <td><img src="{{ absolute_url(asset('chullanka/assets/img/emails/header_bottom.png')) }}" alt=""></td>
                    </tr>
                </table>

                <div style="padding:10px 30px;">
                    {% block content %}{% endblock %}
                </div>

                <table cellpadding="0" cellspacing="0">
                    <tr>
                        <td><img src="{{ absolute_url(asset('chullanka/assets/img/emails/footer_title.png')) }}" alt="On se retrouve sur les réseaux ?"></td>
                    </tr>
                    <tr>
                        <td>
                            <table cellpadding="0" cellspacing="0">
                                <tr>
                                    <td><img src="{{ absolute_url(asset('chullanka/assets/img/emails/footer_blank1.png')) }}" alt=""></td>
                                    <td><a href="https://www.instagram.com/chullanka_outdoor_sports/" target="_blank"><img src="{{ absolute_url(asset('chullanka/assets/img/emails/footer_instagram.png')) }}" alt="Instagram"></a></td>
                                    <td><a href="https://www.facebook.com/chullanka/" target="_blank"><img src="{{ absolute_url(asset('chullanka/assets/img/emails/footer_facebook.png')) }}" alt="Facebook"></a></td>
                                    <td><a href="https://www.youtube.com/channel/UCpADapQaa50CV83lV6gLsQw" target="_blank"><img src="{{ absolute_url(asset('chullanka/assets/img/emails/footer_youtube.png')) }}" alt="Youtube"></a></td>
                                    <td><img src="{{ absolute_url(asset('chullanka/assets/img/emails/footer_blank2.png')) }}" alt=""></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td><img src="{{ absolute_url(asset('chullanka/assets/img/emails/footer_toplinks.png')) }}" alt=""></a></td>
                    </tr>
                    <tr>
                        <td>
                            <table cellpadding="0" cellspacing="0">
                                <tr>
                                    <td><a href="https://www.chullanka.com/fr_FR/account/dashboard" target="_blank"><img src="{{ absolute_url(asset('chullanka/assets/img/emails/footer_link1.png')) }}" alt="Compte client"></a></td>
                                    <td><a href="https://www.chullanka.com/nos-magasins.html" target="_blank"><img src="{{ absolute_url(asset('chullanka/assets/img/emails/footer_link2.png')) }}" alt="Nos magasins"></a></td>
                                    <td><a href="https://www.chullanka.com/fr_FR/contact/" target="_blank"><img src="{{ absolute_url(asset('chullanka/assets/img/emails/footer_link3.png')) }}" alt="Nous contacter"></a></td>
                                    <td><a href="https://www.chullanka.com/blog/" target="_blank"><img src="{{ absolute_url(asset('chullanka/assets/img/emails/footer_link4.png')) }}" alt="Le blog des Chullis"></a></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="https://www.chullanka.com" target="_blank"><img src="{{ absolute_url(asset('chullanka/assets/img/emails/footer_bottom.png')) }}" alt="Chullanka - Copyright 2022"></a></td>
                    </tr>
                </table>
            </div>
        </div>
    {% endautoescape %}
{% endblock %}
