{% extends '@SyliusCore/Email/layout.html.twig' %}

{% block subject %}{{ 'sylius.email.password_reset.subject'|trans({}, null, localeCode) }}{% endblock %}

{% block heademail %}Tout beau, tout neuf !<br>Dites bonjour à votre nouveau mot de passe.{% endblock %}

{% block content %}
    {% if sylius_bundle_loaded_checker('SyliusShopBundle') %}
        {% set url = channel.hostname is not null ? 'http://' ~ channel.hostname ~ path('sylius_shop_password_reset', { 'token': user.passwordResetToken}) : url('sylius_shop_password_reset', { 'token': user.passwordResetToken, '_locale': localeCode}) %}
    {% endif %}

<p><strong>Bonjour {{ user.customer.firstname }},</strong></p>
<p>Il semblerait que vous ayez fait une demande de nouveau mot de passe. Trois raisons possibles :</p>
<ul>
    <li>Vous venez de créer votre compte sur Chullanka.com et avez besoin de créer un mot de passe</li>
    <li>Vous avez oublié votre mot de passe (ça nous arrive tout le temps aussi !)</li>
    <li>C'est une erreur (on ne vous en veut pas)</li>
</ul>
<br>
<p>Si vous êtes bien à l'origine de cette demande, cliquez simplement sur le lien ci-dessous pour créer un mot de passe tout beau, tout neuf !</p>
    <div style="text-align: center;">
        {% if sylius_bundle_loaded_checker('SyliusShopBundle') %}
        <a href="{{ url|raw }}" style="display: inline-block; text-align: center; background: #D82130; padding: 18px 28px; color: #fff; text-decoration: none; border-radius: 3px;">Mon nouveau mot de passe</a>
        {% else %}
            {{ 'sylius.email.password_reset.token'|trans({}, null, localeCode) }}: {{ user.passwordResetToken }}
        {% endif %}
    </div>
{% endblock %}
