<Product>
{% apply spaceless %}
{#% apply setono_sylius_feed_remove_empty_tags %#}
    <Id><![CDATA[{{ item.code|e }}]]></Id>
    <Ean><![CDATA[{{ item.gtin|e }}]]></Ean>
    <Type><![CDATA[trekmag_type]]></Type>
    <Brand><![CDATA[{{ item.brand|e }}]]></Brand>
    <Name><![CDATA[{{ item.title|e }}]]></Name>
    <Year><![CDATA[{{ item.year|e }}]]></Year>
    <Title><![CDATA[{{ item.title|e }}]]></Title>
    <Description><![CDATA[Livraison domicile et point relais gratuite dès 60€ - Achetez en toute sécurité avec chullanka.com]]></Description>
    <Image><![CDATA[{{ item.imageLink|e }}]]></Image>
    <Url><![CDATA[{{ item.link|e }}]]></Url>
    <Price><![CDATA[{{ item.salePrice|e }}]]></Price>
{#% endapply %#}
{% endapply %}
</Product>