{% set ancestors = taxon.ancestors|reverse %}
<ul id="breadcrumb">
    <li><a href="{{ path('sylius_shop_homepage') }}">{{ 'sylius.ui.home'|trans }}</a></li>
    {% for ancestor in ancestors %}
        {% if not ancestor.isRoot() %}
        <li><a href="{{ path('bitbag_sylius_elasticsearch_plugin_shop_list_products', {'slug': ancestor.slug, '_locale': ancestor.translation.locale}) }}">{{ ancestor.name }}</a></li>
        {% endif %}
    {% endfor %}
    <li>{{ taxon.name }}</li>
</ul>