{{ sylius_template_event('sylius.shop.product.index.before_vertical_menu', {'taxon': taxon}) }}

<div class="openFilters">
    <div class="pichulli">
        <img src="{{ asset('build/chullanka/images/chulli_4.jpg', 'chullanka') }}" width="60" height="60" alt="Chulli">
        <svg class="svg-icon" role="img" style="width:60px; height:60px"><use xlink:href="{{ asset('build/chullanka/images/sprites.svg', 'chullanka') }}#over-chulli"/></svg>
    </div>
    <p><strong>{{ 'app.front.category.filter.affiner_recherche'|trans }}</strong> {{ 'app.front.category.filter.affiner_recherche_suite'|trans }}</p>
    <svg class="svg-icon" role="img"><use xlink:href="{{ asset('build/chullanka/images/sprites.svg', 'chullanka') }}#ico-affiner"/></svg>
</div>
<div class="mobileFilters hidden">
    <h2>
        <svg class="svg-icon" role="img"><use xlink:href="{{ asset('build/chullanka/images/sprites.svg', 'chullanka') }}#ico-affiner"/></svg>
        {{ 'app.front.category.filter.affiner'|trans }}
        <svg class="svg-icon-close" role="img"><use xlink:href="{{ asset('build/chullanka/images/sprites.svg', 'chullanka') }}#ico-close-alt"/></svg>
    </h2>
    <div class="scroller">
        {% if taxon.enabledChildren %}
        <ul class="subCats">
            {% for child in taxon.enabledChildren %}
            <li><a href="{{ path('bitbag_sylius_elasticsearch_plugin_shop_list_products', {'slug': child.slug, '_locale': child.translation.locale}) }}" class="item" {{ sylius_test_html_attribute('vertical-menu-item') }}><svg class="svg-icon" role="img"><use xlink:href="{{ asset('build/chullanka/images/sprites.svg', 'chullanka') }}#ico-caret-right"/></svg> {{ child.name }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}

        <div class="filterWrapper">
            <div class="filterInfo">
                <div class="pichulli">
                    <img src="{{ asset('build/chullanka/images/chulli_4.jpg', 'chullanka') }}" width="60" height="60" alt="Chulli">
                    <svg class="svg-icon" role="img" style="width:60px; height:60px"><use xlink:href="{{ asset('build/chullanka/images/sprites.svg', 'chullanka') }}#over-chulli"/></svg>
                </div>
                <p><strong>{{ 'app.front.category.filter.affiner_recherche'|trans }}</strong> {{ 'app.front.category.filter.affiner_recherche_suite'|trans }}</p>
            </div>
            
            <h3>{{ 'app.front.category.filter.filtrer_par'|trans }}</h3>
            <ul class="filterList">
                <li>
                    <button class="pictoLink fold" data-on="Toutes les pointures" data-off="Toutes les pointures">Toutes les pointures</button>
                    <div class="foldable">
                        <ul>
                            
                        </ul>
                    </div>
                </li>
                <li>
                    <button class="pictoLink fold" data-on="Toutes les marques" data-off="Toutes les marques">Toutes les marques</button>
                    <div class="foldable">
                        <ul>
                            
                        </ul>
                    </div>
                </li>
                <li>
                    <button class="pictoLink fold" data-on="Tige" data-off="Tige">Tige</button>
                    <div class="foldable">
                        <ul>
                            
                        </ul>
                    </div>
                </li>
            </ul>
            
            <h3>Trier par</h3>
            <ul class="sortList">
                <li><a href="#" class="active">Notre sélection</a></li>
                <li><a href="#">Prix croissants</a></li>
                <li><a href="#">Prix décroissants</a></li>
            </ul>
        </div>
        <a href="#"><img src="//picsum.photos/325/325?random=4" alt="Jusqu'à -50% sur vos chaussures trail" class="round5"></a>

        {{ sylius_template_event('sylius.shop.product.index.after_vertical_menu', {'taxon': taxon}) }}
    </div>
</div>