{% extends '@SyliusShop/Email/layout.html.twig' %}

{% block subject %}
    Votre demande de retour produit
{% endblock %}

{% block heademail %}
    {% include 'chullanka/rma/grid_state.html.twig' with {'data': rma.state} %}
{% endblock %}

{% block content %}
    <p><strong>Numéro de la demande :</strong> {{ rma.number }}</p>
    {% if rma.customer %}
    <p><strong>Client : </strong> {{ rma.customer }}</p>
    {% endif %}
    {% if rma.order %}
    <p><strong>Commande : </strong> {{ rma.order.number }}</p>
    {% endif %}
    {% if rma.rmaProducts %}
    <p>
        <strong>Produit(s) : </strong>
    {% for rmaProduct in rma.rmaProducts %}
        {{ rmaProduct.orderItem.variantName }}<br>
    {% endfor %}
    </p>
    {% endif %}

    {% if rma.returnSlip %}
        <p><a href="{{ absolute_url(path('rma_return_slip', {'id': rma.id})) }}">Télécharger le bordereau de retour produit</a></p>
    {% endif %}
{% endblock %}