{% extends '@SyliusAdmin/layout.html.twig' %}

{% block title %}Test Exports Ginkoia | Chullanka{% endblock %}

{% block content %}
    <h1>Test Exports Ginkoia</h1>

    <h2>XML dans : {{ exportpath }}</h2>
    {% if files|length %}
        {{ pr(files) }}
    {% else %}
        {{ msg }}
    {% endif %}

    <h2>XML dans : {{ ginkoiaXmlPath }}</h2>
    {% if ginkoiaXmlFiles|length %}
        {{ pr(ginkoiaXmlFiles) }}
    {% else %}
        {{ ginkoiaMsg }}
    {% endif %}
{% endblock %}