{% set univers = null %}
{% if taxon is defined %}
    {% set ancestors = taxon.ancestors|reverse %}
    {% for ancestor in ancestors %}
        {% if not ancestor.isRoot() and univers is null %}
            {% set univers = ancestor %}
        {% endif %}
    {% endfor %}
    {% if univers is null %}
        {% set univers = taxon %}
    {% endif %}
{% endif %}

<div id="category">
    {% if taxon.parent is not empty and not taxon.parent.isRoot() and taxon.parent.enabled %}
        <a href="{{ path('bitbag_sylius_elasticsearch_plugin_shop_list_products', {'slug': taxon.parent.slug, '_locale': taxon.parent.translation.locale}) }}" class="btnRetour" {{ sylius_test_html_attribute('vertical-menu-go-level-up') }} title="{{ 'sylius.ui.go_level_up'|trans }}">
            <svg class="svg-icon" role="img"><use xlink:href="{{ asset('build/chullanka/images/sprites.svg', 'chullanka') }}#ico-fleche-back"/></svg>
        </a>
    {% endif %}
    <h1>{{ taxon.name }}</h1>
    {% if taxon.description %}
    {{ taxon.description|excerpt(50, '#description') }}
    {% endif %}
</div>

{% if taxon is defined and taxon.subLinks %}
<ul class="ctaCats">
    {% for link in taxon.subLinks %}
    <li><a href="{{ link.url }}">{{ link.title }}</a></li>
    {% endfor %}
</ul>
{% endif %}

{% if taxon.topProducts|length %}
<div id="news">
    <p>&nbsp;</p>
    <h2>Voici les Nouveautés Chullanka</h2>
    <div class="prodList">
        <div class="list">
            {% for product in taxon.topProducts if product.enabled %}
            <div>
                {% include '@SyliusShop/Product/_box.html.twig' %}
            </div>
            {% endfor %}
            {% if univers %}
            <div>
                <div class="prodInList noBg">
                    {{ render(path('get_blocks_by_section_taxon', {'sectionCode': 'univers_topguide', 'taxonCode': univers.code})) }}
                </div>
            </div>
            {% endif %}
        </div>
        <div role="tablist" class="dots"></div>
        <script>
            window.addEventListener('load', function(){
                new Glider(document.querySelector('#news .list'), { 
                    itemWidth: 330,
                    slidesToShow: 1,
                    slidesToScroll : 1,
                    duration: 2,
                    draggable: true,
                    scrollLock: true,
                    dots: '.dots',
                    responsive: [
                        {
                            breakpoint: 1024,
                            settings: {
                                slidesToShow: 3
                            }
                        }
                    ]
                });
            });
        </script>
    </div>
</div>
{% endif %}