<div id="entreprise">
    <div class="autoMargin inside">
        <div class="framap">
            <h2>Chullanka entreprise Française</h2>
            <img src="{{ asset('build/chullanka/images/logo_french_ent.png', 'chullanka') }}" alt="Entreprise Française" class="badge">
            <p>9 magasins physiques</p>
            <ul>
                <li><a href="{{ path('store_view', {'code': 'antibes'}) }}">Antibes</a></li><li><a href="{{ path('store_view', {'code': 'metz'}) }}">Metz</a></li><li><a href="{{ path('store_view', {'code': 'toulouse'}) }}">Toulouse</a></li><li><a href="{{ path('store_view', {'code': 'aix-en-provence'}) }}">Aix-en-Provence</a></li><li><a href="{{ path('store_view', {'code': 'montpellier'}) }}">Montpellier</a></li><li><a href="{{ path('store_view', {'code': 'gap'}) }}">Gap</a></li><li><a href="{{ path('store_view', {'code': 'briancon'}) }}">Briançon</a></li><li><a href="{{ path('store_view', {'code': 'valence'}) }}">Valence</a></li><li><a href="{{ path('store_view', {'code': 'bordeaux'}) }}">Bordeaux</a></li>
            </ul>
            <img src="{{ asset('build/chullanka/images/carte_france.png', 'chullanka') }}" alt="">
        </div>
        <div class="team">
            {{ render(path('bitbag_sylius_cms_plugin_shop_block_render', {'code' : 'home_chullanka_entreprise', 'template' : '@SyliusShop/Block/chullanka_entreprise.html.twig'})) }}
            <img src="{{ asset('build/chullanka/images/equipe.jpg', 'chullanka') }}" alt="Chullis">
        </div>
    </div>
</div>